In [1]:
#Dependecies
import pandas as pd
from sqlalchemy import create_engine, inspect
from config import db_user, db_password, db_host, db_port, db_name

In [2]:
median_file = "SearchedDataSamples/MedianPrices.csv"
percent_chg_file = "SearchedDataSamples/PercentChange.csv"
counties_file = "SearchedDataSamples/uscounties.csv"
median_df = pd.read_csv(median_file)
median_df = median_df.drop(median_df.index[range(6)])
new_header = median_df.iloc[0] #grab the first row for the header
median_df = median_df[1:] #take the data less the header row
median_df.columns = new_header #set the header row as the df header
median_df.drop(median_df.iloc[:, 61:], inplace = True, axis = 1)
median_df.head(25)
#print(len(median_df.columns))
#Note: potential data, drop columns 0-54, keep the rest up to 62
#314 to end
median_df = median_df.drop(median_df.index[range(312,)])
median_df

6,Mon-Yr,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Yolo,Yuba,Condo,LA Metro,Central Coast,Central Valley,Far North,Inland Empire,S.F. Bay Area,SoCal
319,16-Jan,"$467,160","$700,000","$215,500","$260,000","$258,750","$500,000","$157,000","$405,000","$216,000",...,"$345,000","$210,000","$380,110","$434,000","$580,000","$261,889","$227,000","$291,920","$690,000","$450,000"
320,16-Feb,"$444,780","$715,000","$275,000","$264,960","$262,500","$529,000","$175,000","$422,000","$214,250",...,"$379,500","$225,000","$387,370","$429,980","$555,123","$265,436","$219,000","$290,270","$698,950","$450,000"
321,16-Mar,"$484,120","$758,000","$307,000","$286,810","$270,000","$548,780","$199,000","$435,010","$231,000",...,"$362,500","$235,450","$399,740","$448,420","$573,000","$275,943","$230,000","$309,890","$761,090","$469,000"
322,16-Apr,"$509,240","$800,000","$235,000","$272,750","$276,000","$565,000","$315,000","$432,000","$229,000",...,"$419,000","$240,000","$409,410","$460,940","$607,000","$281,556","$234,500","$310,840","$831,180","$479,900"
323,16-May,"$519,930","$828,000","$268,500","$271,000","$287,500","$595,000","$189,500","$429,500","$232,000",...,"$398,000","$225,000","$411,120","$469,090","$610,000","$285,761","$235,000","$315,980","$848,580","$490,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,21-Jan,"$699,920","$1,060,000","$386,250","$420,000","$398,500","$765,000","$399,000","$600,000","$325,000",...,"$485,000","$395,000","$515,000","$630,000","$829,900","$387,250","$335,000","$457,000","$1,050,000","$650,000"
380,21-Feb,"$699,000","$1,100,000","$406,280","$397,000","$441,500","$817,500","$359,000","$577,500","$350,000",...,"$520,000","$370,000","$530,000","$649,000","$828,500","$405,000","$335,000","$470,000","$1,151,500","$675,000"
381,21-Mar,"$758,990","$1,163,000","$430,000","$406,000","$435,850","$920,000","$309,000","$652,500","$350,000",...,"$530,000","$359,500","$552,500","$680,000","$871,840","$415,000","$350,000","$495,000","$1,225,000","$705,000"
382,21-Apr,"$814,010","$1,300,000","$415,000","$438,500","$475,000","$990,000","$364,170","$654,750","$355,000",...,"$566,000","$384,700","$570,000","$725,000","$925,620","$435,000","$367,250","$500,000","$1,328,440","$750,000"
383,21-May,"$818,260","$1,312,500","$427,500","$449,000","$473,800","$1,015,000","$415,000","$688,000","$361,500",...,"$617,500","$400,000","$592,000","$725,000","$900,000","$445,000","$365,000","$510,000","$1,340,000","$752,250"

In [3]:
# Rename the column headers
median_df_transformed = median_df.rename(columns={'Mon-Yr':'month_year',
                                                  'Del Norte':'del_norte',
                                                  'El Dorado':'el_dorado',
                                                 'Los Angeles':'los_angeles',
                                                 'Contra-Costa':'contra_costa',
                                                 'LA Metro':'la_metro',
                                                 'Central Coast':'central_coast',
                                                 'Central Valley':'central_valley',
                                                 'Far North':'far_north',
                                                 'Inland Empire':'inland_empire',
                                                  'San Benito':'san_benito',
                                                  'San Bernardino':'san_bernardino',
                                                  'San Diego':'san_diego',
                                                  'San Francisco':'san_francisco',
                                                  'San Joaquin':'san_joaquin',
                                                  'San Luis Obispo':'san_luis_obispo',
                                                  'San Mateo':'san_mateo',
                                                  'Santa Barbara':'santa_barbara',
                                                  'Santa Clara':'santa_clara',
                                                  'Santa Cruz':'santa_cruz',
                                                  'S.F. Bay Area':'sf_bay_area'})                                                            

median_df_transformed.columns = median_df_transformed.columns.str.lower()

median_df_transformed

6,month_year,ca,alameda,amador,butte,calaveras,contra_costa,del_norte,el_dorado,fresno,...,yolo,yuba,condo,la_metro,central_coast,central_valley,far_north,inland_empire,sf_bay_area,socal
319,16-Jan,"$467,160","$700,000","$215,500","$260,000","$258,750","$500,000","$157,000","$405,000","$216,000",...,"$345,000","$210,000","$380,110","$434,000","$580,000","$261,889","$227,000","$291,920","$690,000","$450,000"
320,16-Feb,"$444,780","$715,000","$275,000","$264,960","$262,500","$529,000","$175,000","$422,000","$214,250",...,"$379,500","$225,000","$387,370","$429,980","$555,123","$265,436","$219,000","$290,270","$698,950","$450,000"
321,16-Mar,"$484,120","$758,000","$307,000","$286,810","$270,000","$548,780","$199,000","$435,010","$231,000",...,"$362,500","$235,450","$399,740","$448,420","$573,000","$275,943","$230,000","$309,890","$761,090","$469,000"
322,16-Apr,"$509,240","$800,000","$235,000","$272,750","$276,000","$565,000","$315,000","$432,000","$229,000",...,"$419,000","$240,000","$409,410","$460,940","$607,000","$281,556","$234,500","$310,840","$831,180","$479,900"
323,16-May,"$519,930","$828,000","$268,500","$271,000","$287,500","$595,000","$189,500","$429,500","$232,000",...,"$398,000","$225,000","$411,120","$469,090","$610,000","$285,761","$235,000","$315,980","$848,580","$490,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,21-Jan,"$699,920","$1,060,000","$386,250","$420,000","$398,500","$765,000","$399,000","$600,000","$325,000",...,"$485,000","$395,000","$515,000","$630,000","$829,900","$387,250","$335,000","$457,000","$1,050,000","$650,000"
380,21-Feb,"$699,000","$1,100,000","$406,280","$397,000","$441,500","$817,500","$359,000","$577,500","$350,000",...,"$520,000","$370,000","$530,000","$649,000","$828,500","$405,000","$335,000","$470,000","$1,151,500","$675,000"
381,21-Mar,"$758,990","$1,163,000","$430,000","$406,000","$435,850","$920,000","$309,000","$652,500","$350,000",...,"$530,000","$359,500","$552,500","$680,000","$871,840","$415,000","$350,000","$495,000","$1,225,000","$705,000"
382,21-Apr,"$814,010","$1,300,000","$415,000","$438,500","$475,000","$990,000","$364,170","$654,750","$355,000",...,"$566,000","$384,700","$570,000","$725,000","$925,620","$435,000","$367,250","$500,000","$1,328,440","$750,000"
383,21-May,"$818,260","$1,312,500","$427,500","$449,000","$473,800","$1,015,000","$415,000","$688,000","$361,500",...,"$617,500","$400,000","$592,000","$725,000","$900,000","$445,000","$365,000","$510,000","$1,340,000","$752,250"

In [4]:
# special symbols removal
median_no_dsign = median_df_transformed.columns
median_df_transformed[median_no_dsign] = median_df_transformed[median_no_dsign].replace({'\$':'', '\,':'', '\-':'_'}, regex = True)
# reset index
median_df_transformed.reset_index(drop = True, inplace = True)
median_df_transformed.head()

6,month_year,ca,alameda,amador,butte,calaveras,contra_costa,del_norte,el_dorado,fresno,...,yolo,yuba,condo,la_metro,central_coast,central_valley,far_north,inland_empire,sf_bay_area,socal
0,16_Jan,467160,700000,215500,260000,258750,500000,157000,405000,216000,...,345000,210000,380110,434000,580000,261889,227000,291920,690000,450000
1,16_Feb,444780,715000,275000,264960,262500,529000,175000,422000,214250,...,379500,225000,387370,429980,555123,265436,219000,290270,698950,450000
2,16_Mar,484120,758000,307000,286810,270000,548780,199000,435010,231000,...,362500,235450,399740,448420,573000,275943,230000,309890,761090,469000
3,16_Apr,509240,800000,235000,272750,276000,565000,315000,432000,229000,...,419000,240000,409410,460940,607000,281556,234500,310840,831180,479900
4,16_May,519930,828000,268500,271000,287500,595000,189500,429500,232000,...,398000,225000,411120,469090,610000,285761,235000,315980,848580,490000

In [37]:
# change column headers to header of rows
new_median_df = median_df_transformed.transpose()
new_header = new_median_df.iloc[0] #grab the first row for the header
new_median_df = new_median_df[1:] #take the data less the header row
new_median_df.columns = new_header #set the header row as the df header
# change all column headers to lower case
new_median_df.columns = new_median_df.columns.str.lower()
new_median_df.columns

Index(['16_jan', '16_feb', '16_mar', '16_apr', '16_may', '16_jun', '16_jul',
       '16_aug', '16_sep', '16_oct', '16_nov', '16_dec', '17_jan', '17_feb',
       '17_mar', '17_apr', '17_may', '17_jun', '17_jul', '17_aug', '17_sep',
       '17_oct', '17_nov', '17_dec', '18_jan', '18_feb', '18_mar', '18_apr',
       '18_may', '18_jun', '18_jul', '18_aug', '18_sep', '18_oct', '18_nov',
       '18_dec', '19_jan', '19_feb', '19_mar', '19_apr', '19_may', '19_jun',
       '19_jul', '19_aug', '19_sep', '19_oct', '19_nov', '19_dec', '20_jan',
       '20_feb', '20_mar', '20_apr', '20_may', '20_jun', '20_jul', '20_aug',
       '20_sep', '20_oct', '20_nov', '20_dec', '21_jan', '21_feb', '21_mar',
       '21_apr', '21_may'],
      dtype='object', name='month_year')

In [38]:
new_median_df.reset_index(drop = False, inplace = True)

In [39]:
# change all column header type to string
new_median_df.columns = new_median_df.columns.astype(str)

In [40]:
# check column header type by run the syntax below
# new_median_df.columns.map(type)

In [41]:
new_median_df = new_median_df.rename(columns={'6':'county'})
new_median_df.head(5)

month_year,county,16_jan,16_feb,16_mar,16_apr,16_may,16_jun,16_jul,16_aug,16_sep,...,20_aug,20_sep,20_oct,20_nov,20_dec,21_jan,21_feb,21_mar,21_apr,21_may
0,ca,467160,444780,484120,509240,519930,518980,511420,527490,516450,...,706900,712430,711300,698980,717930,699920,699000,758990,814010,818260
1,alameda,700000,715000,758000,800000,828000,803000,800000,775000,760000,...,1028220,1050000,1049000,1049040,1060000,1060000,1100000,1163000,1300000,1312500
2,amador,215500,275000,307000,235000,268500,319000,275000,257500,243500,...,353500,359900,366500,360000,355000,386250,406280,430000,415000,427500
3,butte,260000,264960,286810,272750,271000,275000,288750,264120,275000,...,415000,403300,401500,405000,408460,420000,397000,406000,438500,449000
4,calaveras,258750,262500,270000,276000,287500,315000,291000,310000,285000,...,381000,392000,393640,407120,397500,398500,441500,435850,475000,473800

In [42]:
new_median_df.columns.names = ['index']
new_median_df.head(5)

index,county,16_jan,16_feb,16_mar,16_apr,16_may,16_jun,16_jul,16_aug,16_sep,...,20_aug,20_sep,20_oct,20_nov,20_dec,21_jan,21_feb,21_mar,21_apr,21_may
0,ca,467160,444780,484120,509240,519930,518980,511420,527490,516450,...,706900,712430,711300,698980,717930,699920,699000,758990,814010,818260
1,alameda,700000,715000,758000,800000,828000,803000,800000,775000,760000,...,1028220,1050000,1049000,1049040,1060000,1060000,1100000,1163000,1300000,1312500
2,amador,215500,275000,307000,235000,268500,319000,275000,257500,243500,...,353500,359900,366500,360000,355000,386250,406280,430000,415000,427500
3,butte,260000,264960,286810,272750,271000,275000,288750,264120,275000,...,415000,403300,401500,405000,408460,420000,397000,406000,438500,449000
4,calaveras,258750,262500,270000,276000,287500,315000,291000,310000,285000,...,381000,392000,393640,407120,397500,398500,441500,435850,475000,473800

In [12]:
percent_change_df = pd.read_csv(percent_chg_file)
percent_change_df = percent_change_df.drop(percent_change_df.index[range(6)])
new_header = percent_change_df.iloc[0] #grab the first row for the header
percent_change_df = percent_change_df[1:] #take the data less the header row
percent_change_df.columns = new_header #set the header row as the df header
percent_change_df.drop(percent_change_df.iloc[:, 61:], inplace = True, axis = 1)
percent_change_df = percent_change_df.drop(percent_change_df.index[range(312,)])
percent_change_df.reset_index(drop = True, inplace = True)
percent_change_df

6,Mon-Yr,CA*,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Yolo,Yuba,Condo,LA Metro,Central Coast,Central Valley,Far North,Inland Empire,SF Bay Area,SoCal
0,16-Jan,11.80%,2.10%,30.40%,7.20%,-9.10%,-2.20%,5.60%,14.00%,19.60%,...,33.80%,43.20%,2.90%,7.30%,2.60%,11.60%,NaN,6.90%,6.20%,6.50%
1,16-Feb,-0.10%,-6.70%,3.30%,5.70%,57.10%,-8.90%,116.70%,-1.60%,14.80%,...,0.00%,16.10%,7.10%,2.40%,-1.90%,7.20%,NaN,6.60%,-5.70%,1.00%
2,16-Mar,-2.70%,-7.60%,71.90%,13.50%,35.20%,-7.90%,27.80%,15.00%,7.40%,...,28.50%,25.40%,3.50%,1.70%,-6.10%,7.00%,NaN,5.30%,-7.30%,1.60%
3,16-Apr,-2.60%,-13.30%,6.70%,-3.70%,17.30%,-12.00%,-55.20%,-5.30%,11.30%,...,-11.40%,9.70%,-2.70%,-4.20%,4.20%,0.30%,NaN,-2.00%,-12.80%,-4.10%
4,16-May,-1.00%,-8.20%,-4.30%,11.50%,8.30%,-9.60%,15.80%,3.20%,7.50%,...,3.00%,13.00%,1.20%,0.70%,-1.10%,2.80%,NaN,4.50%,-5.30%,1.30%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,21-Jan,22.50%,53.60%,46.30%,-17.40%,69.20%,27.50%,-5.60%,19.50%,10.50%,...,4.50%,-25.40%,30.10%,14.30%,19.90%,6.90%,-5.30%,14.30%,31.80%,13.50%
61,21-Feb,9.70%,32.60%,31.70%,-10.20%,4.10%,18.50%,58.30%,10.40%,-0.20%,...,15.20%,-25.80%,17.60%,10.00%,22.40%,-0.30%,17.30%,8.10%,16.10%,10.50%
62,21-Mar,19.70%,45.10%,16.90%,6.50%,-9.00%,34.60%,107.10%,31.30%,7.00%,...,22.30%,-25.30%,39.30%,24.50%,31.80%,9.60%,26.10%,21.50%,35.00%,23.30%
63,21-Apr,65.10%,88.40%,89.20%,26.10%,45.60%,95.60%,-4.30%,67.50%,28.50%,...,47.40%,4.20%,127.40%,68.10%,81.70%,39.80%,38.80%,53.00%,101.40%,65.50%
64,21-May,86.70%,130.20%,80.00%,63.20%,55.20%,95.10%,-59.10%,79.80%,40.50%,...,83.10%,100.00%,150.90%,81.00%,111.80%,44.00%,58.60%,58.40%,104.60%,80.00%

In [47]:
percent_df_transformed = percent_change_df.rename(columns={'Mon-Yr':'month_year',
                                                           'CA*':'ca',
                                                           'Del Norte':'del_norte',
                                                              'El Dorado':'el_dorado',
                                                             'Contra-Costa':'contra_costa',
                                                             'Los Angeles':'los_angeles',
                                                             'LA Metro':'la_metro',
                                                             'Central Coast':'central_coast',
                                                             'Central Valley':'central_valley',
                                                             'Far North':'far_north',
                                                             'Inland Empire':'inland_empire',
                                                              'San Benito':'san_benito',
                                                              'San Bernardino':'san_bernardino',
                                                              'San Diego':'san_diego',
                                                              'San Francisco':'san_francisco',
                                                              'San Joaquin':'san_joaquin',
                                                              'San Luis Obispo':'san_luis_obispo',
                                                              'San Mateo':'san_mateo',
                                                              'Santa Barbara':'santa_barbara',
                                                              'Santa Clara':'santa_clara',
                                                              'Santa Cruz':'santa_cruz',
                                                              'SF Bay Area':'sf_bay_area'})                                                            

percent_df_transformed.columns = percent_df_transformed.columns.str.lower()

percent_df_transformed.head()

6,month_year,ca,alameda,amador,butte,calaveras,contra_costa,del_norte,el_dorado,fresno,...,yolo,yuba,condo,la_metro,central_coast,central_valley,far_north,inland_empire,sf_bay_area,socal
0,16-Jan,11.80%,2.10%,30.40%,7.20%,-9.10%,-2.20%,5.60%,14.00%,19.60%,...,33.80%,43.20%,2.90%,7.30%,2.60%,11.60%,NaN,6.90%,6.20%,6.50%
1,16-Feb,-0.10%,-6.70%,3.30%,5.70%,57.10%,-8.90%,116.70%,-1.60%,14.80%,...,0.00%,16.10%,7.10%,2.40%,-1.90%,7.20%,NaN,6.60%,-5.70%,1.00%
2,16-Mar,-2.70%,-7.60%,71.90%,13.50%,35.20%,-7.90%,27.80%,15.00%,7.40%,...,28.50%,25.40%,3.50%,1.70%,-6.10%,7.00%,NaN,5.30%,-7.30%,1.60%
3,16-Apr,-2.60%,-13.30%,6.70%,-3.70%,17.30%,-12.00%,-55.20%,-5.30%,11.30%,...,-11.40%,9.70%,-2.70%,-4.20%,4.20%,0.30%,NaN,-2.00%,-12.80%,-4.10%
4,16-May,-1.00%,-8.20%,-4.30%,11.50%,8.30%,-9.60%,15.80%,3.20%,7.50%,...,3.00%,13.00%,1.20%,0.70%,-1.10%,2.80%,NaN,4.50%,-5.30%,1.30%

In [50]:
percent_no_psign = percent_df_transformed.columns
percent_df_transformed[percent_no_psign] = percent_df_transformed[percent_no_psign].replace({'\%':''}, regex = True)
percent_df_transformed.month_year = percent_df_transformed.month_year.replace({'\-':'_'}, regex = True)
percent_df_transformed.head()

6,month_year,ca,alameda,amador,butte,calaveras,contra_costa,del_norte,el_dorado,fresno,...,yolo,yuba,condo,la_metro,central_coast,central_valley,far_north,inland_empire,sf_bay_area,socal
0,16_Jan,11.80,2.10,30.40,7.20,-9.10,-2.20,5.60,14.00,19.60,...,33.80,43.20,2.90,7.30,2.60,11.60,NaN,6.90,6.20,6.50
1,16_Feb,-0.10,-6.70,3.30,5.70,57.10,-8.90,116.70,-1.60,14.80,...,0.00,16.10,7.10,2.40,-1.90,7.20,NaN,6.60,-5.70,1.00
2,16_Mar,-2.70,-7.60,71.90,13.50,35.20,-7.90,27.80,15.00,7.40,...,28.50,25.40,3.50,1.70,-6.10,7.00,NaN,5.30,-7.30,1.60
3,16_Apr,-2.60,-13.30,6.70,-3.70,17.30,-12.00,-55.20,-5.30,11.30,...,-11.40,9.70,-2.70,-4.20,4.20,0.30,NaN,-2.00,-12.80,-4.10
4,16_May,-1.00,-8.20,-4.30,11.50,8.30,-9.60,15.80,3.20,7.50,...,3.00,13.00,1.20,0.70,-1.10,2.80,NaN,4.50,-5.30,1.30

In [51]:
# change column headers to header of rows
new_percent_df = percent_df_transformed.transpose()
new_header = new_percent_df.iloc[0] #grab the first row for the header
new_percent_df = new_percent_df[1:] #take the data less the header row
new_percent_df.columns = new_header #set the header row as the df header
new_percent_df.columns = new_percent_df.columns.str.lower()
new_percent_df.head()

month_year,16_jan,16_feb,16_mar,16_apr,16_may,16_jun,16_jul,16_aug,16_sep,16_oct,...,20_aug,20_sep,20_oct,20_nov,20_dec,21_jan,21_feb,21_mar,21_apr,21_may
6,,,,,,,,,,,,,,,,,,,,,
ca,11.80,-0.10,-2.70,-2.60,-1.00,-0.20,-4.70,-1.80,1.80,8.70,...,14.60,21.20,19.90,26.30,28.00,22.50,9.70,19.70,65.10,86.70
alameda,2.10,-6.70,-7.60,-13.30,-8.20,-11.80,-16.20,1.50,9.50,1.70,...,4.20,32.20,10.70,39.60,44.50,53.60,32.60,45.10,88.40,130.20
amador,30.40,3.30,71.90,6.70,-4.30,2.00,-25.50,-9.80,15.00,60.00,...,46.00,122.40,52.90,-2.80,66.00,46.30,31.70,16.90,89.20,80.00
butte,7.20,5.70,13.50,-3.70,11.50,-3.50,9.30,5.20,4.30,0.00,...,-12.00,14.90,-10.60,-17.90,17.90,-17.40,-10.20,6.50,26.10,63.20
calaveras,-9.10,57.10,35.20,17.30,8.30,11.70,-21.60,8.40,6.30,-8.90,...,57.10,26.20,40.70,77.20,79.20,69.20,4.10,-9.00,45.60,55.20

In [52]:
new_percent_df.reset_index(drop = False, inplace = True)
# change all column header type to string
new_percent_df.columns = new_percent_df.columns.astype(str)

In [56]:
new_percent_df = new_percent_df.rename(columns={'6':'county'})
new_percent_df.columns.names = ['index']
new_percent_df.head()

index,county,16_jan,16_feb,16_mar,16_apr,16_may,16_jun,16_jul,16_aug,16_sep,...,20_aug,20_sep,20_oct,20_nov,20_dec,21_jan,21_feb,21_mar,21_apr,21_may
0,ca,11.80,-0.10,-2.70,-2.60,-1.00,-0.20,-4.70,-1.80,1.80,...,14.60,21.20,19.90,26.30,28.00,22.50,9.70,19.70,65.10,86.70
1,alameda,2.10,-6.70,-7.60,-13.30,-8.20,-11.80,-16.20,1.50,9.50,...,4.20,32.20,10.70,39.60,44.50,53.60,32.60,45.10,88.40,130.20
2,amador,30.40,3.30,71.90,6.70,-4.30,2.00,-25.50,-9.80,15.00,...,46.00,122.40,52.90,-2.80,66.00,46.30,31.70,16.90,89.20,80.00
3,butte,7.20,5.70,13.50,-3.70,11.50,-3.50,9.30,5.20,4.30,...,-12.00,14.90,-10.60,-17.90,17.90,-17.40,-10.20,6.50,26.10,63.20
4,calaveras,-9.10,57.10,35.20,17.30,8.30,11.70,-21.60,8.40,6.30,...,57.10,26.20,40.70,77.20,79.20,69.20,4.10,-9.00,45.60,55.20

In [18]:
county_df = pd.read_csv(counties_file)
county_df = county_df.loc[county_df['state_id'] == 'CA']
county_df = county_df[['county', 'lat', 'lng', 'population']]

In [19]:
county_df.iloc[8,0] = 'Contra_Costa'
county_df.county.to_list()

['Los Angeles',
 'San Diego',
 'Orange',
 'Riverside',
 'San Bernardino',
 'Santa Clara',
 'Alameda',
 'Sacramento',
 'Contra_Costa',
 'Fresno',
 'Kern',
 'San Francisco',
 'Ventura',
 'San Mateo',
 'San Joaquin',
 'Stanislaus',
 'Sonoma',
 'Tulare',
 'Santa Barbara',
 'Solano',
 'Monterey',
 'Placer',
 'San Luis Obispo',
 'Santa Cruz',
 'Merced',
 'Marin',
 'Butte',
 'Yolo',
 'El Dorado',
 'Imperial',
 'Shasta',
 'Madera',
 'Kings',
 'Napa',
 'Humboldt',
 'Nevada',
 'Sutter',
 'Mendocino',
 'Yuba',
 'Lake',
 'Tehama',
 'San Benito',
 'Tuolumne',
 'Calaveras',
 'Siskiyou',
 'Amador',
 'Lassen',
 'Glenn',
 'Del Norte',
 'Colusa',
 'Plumas',
 'Inyo',
 'Mariposa',
 'Mono',
 'Trinity',
 'Modoc',
 'Sierra',
 'Alpine']

In [20]:
county_df.set_index('county',inplace = True)

In [21]:
county_df.head(5)

                    lat       lng  population
county
Los Angeles     34.3207 -118.2248    10081570
San Diego       33.0341 -116.7353     3316073
Orange          33.7030 -117.7611     3168044
Riverside       33.7437 -115.9938     2411439
San Bernardino  34.8414 -116.1784     2149031

In [22]:
new_county_df = county_df.transpose()
new_county_df.head(None)

county,Los Angeles,San Diego,Orange,Riverside,San Bernardino,Santa Clara,Alameda,Sacramento,Contra_Costa,Fresno,...,Del Norte,Colusa,Plumas,Inyo,Mariposa,Mono,Trinity,Modoc,Sierra,Alpine
lat,3.432070e+01,3.303410e+01,3.370300e+01,3.374370e+01,3.484140e+01,3.723180e+01,3.764690e+01,3.844930e+01,3.791910e+01,36.7582,...,41.7431,39.1775,40.0046,36.5111,37.5815,37.9391,40.6507,41.5898,39.5803,38.5972
lng,-1.182248e+02,-1.167353e+02,-1.177611e+02,-1.159938e+02,-1.161784e+02,-1.216951e+02,-1.218889e+02,-1.213443e+02,-1.219278e+02,-119.6493,...,-123.8972,-122.2370,-120.8385,-117.4107,-119.9054,-118.8868,-123.1126,-120.7250,-120.5160,-119.8207
population,1.008157e+07,3.316073e+06,3.168044e+06,2.411439e+06,2.149031e+06,1.927470e+06,1.656754e+06,1.524553e+06,1.142251e+06,984521.0000,...,27495.0000,21454.0000,18660.0000,17977.0000,17420.0000,14310.0000,12700.0000,8907.0000,3040.0000,1039.0000

In [23]:
new_county_df_transformed = new_county_df.rename(columns={'Del Norte':'del_norte',
                                                              'El Dorado':'el_dorado',
                                                             'Los Angeles':'los_angeles',
                                                             'LA Metro':'la_metro',
                                                             'Central Coast':'central_coast',
                                                             'Central Valley':'central_valley',
                                                             'Far North':'far_north',
                                                             'Inland Empire':'inland_empire',
                                                              'San Benito':'san_benito',
                                                              'San Bernardino':'san_bernardino',
                                                              'San Diego':'san_diego',
                                                              'San Francisco':'san_francisco',
                                                              'San Joaquin':'san_joaquin',
                                                              'San Luis Obispo':'san_luis_obispo',
                                                              'San Mateo':'san_mateo',
                                                              'Santa Barbara':'santa_barbara',
                                                              'Santa Clara':'santa_clara',
                                                              'Santa Cruz':'santa_cruz',
                                                              'S.F. Bay Area':'sf_bay_area'})                                                            

new_county_df_transformed.columns = new_county_df_transformed.columns.str.lower()

In [24]:
new_county_df= new_county_df_transformed.transpose()
new_county_df.head(5)

                    lat       lng  population
county
los_angeles     34.3207 -118.2248  10081570.0
san_diego       33.0341 -116.7353   3316073.0
orange          33.7030 -117.7611   3168044.0
riverside       33.7437 -115.9938   2411439.0
san_bernardino  34.8414 -116.1784   2149031.0

In [29]:
housing_connection_string = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
# confirm the connection string
print(housing_connection_string)
        
# connect to the database
engine = create_engine(housing_connection_string)
conn = engine.connect()

postgresql://postgres:git789su@localhost:5432/housing_db

In [26]:
print(engine.table_names())

['medianprice', 'percentchange', 'countycoor']

In [44]:
# uncomment below if new tables need to be created
# new_median_df.to_sql(name='medianprice', con=conn, if_exists='append', index=True)

In [30]:
# new_county_df.to_sql(name='countycoor', con=conn, if_exists='append', index=True)

In [54]:
# new_percent_df.to_sql(name='percentchange', con=conn, if_exists='append', index=True)