In [1]:
#Dependecies
import pandas as pd
from sqlalchemy import create_engine, inspect
from config import db_user, db_password, db_host, db_port, db_name

In [2]:
median_file = "SearchedDataSamples/MedianPrices.csv"
percent_chg_file = "SearchedDataSamples/PercentChange.csv"
counties_file = "SearchedDataSamples/uscounties.csv"
median_df = pd.read_csv(median_file)
median_df = median_df.drop(median_df.index[range(6)])
new_header = median_df.iloc[0] #grab the first row for the header
median_df = median_df[1:] #take the data less the header row
median_df.columns = new_header #set the header row as the df header
median_df.drop(median_df.iloc[:, 61:], inplace = True, axis = 1)
median_df.head(25)
#print(len(median_df.columns))
#Note: potential data, drop columns 0-54, keep the rest up to 62
#314 to end
median_df = median_df.drop(median_df.index[range(312,)])
median_df

6,Mon-Yr,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Yolo,Yuba,Condo,LA Metro,Central Coast,Central Valley,Far North,Inland Empire,S.F. Bay Area,SoCal
319,16-Jan,"$467,160","$700,000","$215,500","$260,000","$258,750","$500,000","$157,000","$405,000","$216,000",...,"$345,000","$210,000","$380,110","$434,000","$580,000","$261,889","$227,000","$291,920","$690,000","$450,000"
320,16-Feb,"$444,780","$715,000","$275,000","$264,960","$262,500","$529,000","$175,000","$422,000","$214,250",...,"$379,500","$225,000","$387,370","$429,980","$555,123","$265,436","$219,000","$290,270","$698,950","$450,000"
321,16-Mar,"$484,120","$758,000","$307,000","$286,810","$270,000","$548,780","$199,000","$435,010","$231,000",...,"$362,500","$235,450","$399,740","$448,420","$573,000","$275,943","$230,000","$309,890","$761,090","$469,000"
322,16-Apr,"$509,240","$800,000","$235,000","$272,750","$276,000","$565,000","$315,000","$432,000","$229,000",...,"$419,000","$240,000","$409,410","$460,940","$607,000","$281,556","$234,500","$310,840","$831,180","$479,900"
323,16-May,"$519,930","$828,000","$268,500","$271,000","$287,500","$595,000","$189,500","$429,500","$232,000",...,"$398,000","$225,000","$411,120","$469,090","$610,000","$285,761","$235,000","$315,980","$848,580","$490,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,21-Jan,"$699,920","$1,060,000","$386,250","$420,000","$398,500","$765,000","$399,000","$600,000","$325,000",...,"$485,000","$395,000","$515,000","$630,000","$829,900","$387,250","$335,000","$457,000","$1,050,000","$650,000"
380,21-Feb,"$699,000","$1,100,000","$406,280","$397,000","$441,500","$817,500","$359,000","$577,500","$350,000",...,"$520,000","$370,000","$530,000","$649,000","$828,500","$405,000","$335,000","$470,000","$1,151,500","$675,000"
381,21-Mar,"$758,990","$1,163,000","$430,000","$406,000","$435,850","$920,000","$309,000","$652,500","$350,000",...,"$530,000","$359,500","$552,500","$680,000","$871,840","$415,000","$350,000","$495,000","$1,225,000","$705,000"
382,21-Apr,"$814,010","$1,300,000","$415,000","$438,500","$475,000","$990,000","$364,170","$654,750","$355,000",...,"$566,000","$384,700","$570,000","$725,000","$925,620","$435,000","$367,250","$500,000","$1,328,440","$750,000"
383,21-May,"$818,260","$1,312,500","$427,500","$449,000","$473,800","$1,015,000","$415,000","$688,000","$361,500",...,"$617,500","$400,000","$592,000","$725,000","$900,000","$445,000","$365,000","$510,000","$1,340,000","$752,250"

In [3]:
# Rename the column headers
median_df_transformed = median_df.rename(columns={'Mon-Yr':'month_year',
                                                  'Del Norte':'del_norte',
                                                  'El Dorado':'el_dorado',
                                                 'Los Angeles':'los_angeles',
                                                 'Contra-Costa':'contra_costa',
                                                 'LA Metro':'la_metro',
                                                 'Central Coast':'central_coast',
                                                 'Central Valley':'central_valley',
                                                 'Far North':'far_north',
                                                 'Inland Empire':'inland_empire',
                                                  'San Benito':'san_benito',
                                                  'San Bernardino':'san_bernardino',
                                                  'San Diego':'san_diego',
                                                  'San Francisco':'san_francisco',
                                                  'San Joaquin':'san_joaquin',
                                                  'San Luis Obispo':'san_luis_obispo',
                                                  'San Mateo':'san_mateo',
                                                  'Santa Barbara':'santa_barbara',
                                                  'Santa Clara':'santa_clara',
                                                  'Santa Cruz':'santa_cruz',
                                                  'S.F. Bay Area':'sf_bay_area'})                                                            

median_df_transformed.columns = median_df_transformed.columns.str.lower()

median_df_transformed

6,month_year,ca,alameda,amador,butte,calaveras,contra_costa,del_norte,el_dorado,fresno,...,yolo,yuba,condo,la_metro,central_coast,central_valley,far_north,inland_empire,sf_bay_area,socal
319,16-Jan,"$467,160","$700,000","$215,500","$260,000","$258,750","$500,000","$157,000","$405,000","$216,000",...,"$345,000","$210,000","$380,110","$434,000","$580,000","$261,889","$227,000","$291,920","$690,000","$450,000"
320,16-Feb,"$444,780","$715,000","$275,000","$264,960","$262,500","$529,000","$175,000","$422,000","$214,250",...,"$379,500","$225,000","$387,370","$429,980","$555,123","$265,436","$219,000","$290,270","$698,950","$450,000"
321,16-Mar,"$484,120","$758,000","$307,000","$286,810","$270,000","$548,780","$199,000","$435,010","$231,000",...,"$362,500","$235,450","$399,740","$448,420","$573,000","$275,943","$230,000","$309,890","$761,090","$469,000"
322,16-Apr,"$509,240","$800,000","$235,000","$272,750","$276,000","$565,000","$315,000","$432,000","$229,000",...,"$419,000","$240,000","$409,410","$460,940","$607,000","$281,556","$234,500","$310,840","$831,180","$479,900"
323,16-May,"$519,930","$828,000","$268,500","$271,000","$287,500","$595,000","$189,500","$429,500","$232,000",...,"$398,000","$225,000","$411,120","$469,090","$610,000","$285,761","$235,000","$315,980","$848,580","$490,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,21-Jan,"$699,920","$1,060,000","$386,250","$420,000","$398,500","$765,000","$399,000","$600,000","$325,000",...,"$485,000","$395,000","$515,000","$630,000","$829,900","$387,250","$335,000","$457,000","$1,050,000","$650,000"
380,21-Feb,"$699,000","$1,100,000","$406,280","$397,000","$441,500","$817,500","$359,000","$577,500","$350,000",...,"$520,000","$370,000","$530,000","$649,000","$828,500","$405,000","$335,000","$470,000","$1,151,500","$675,000"
381,21-Mar,"$758,990","$1,163,000","$430,000","$406,000","$435,850","$920,000","$309,000","$652,500","$350,000",...,"$530,000","$359,500","$552,500","$680,000","$871,840","$415,000","$350,000","$495,000","$1,225,000","$705,000"
382,21-Apr,"$814,010","$1,300,000","$415,000","$438,500","$475,000","$990,000","$364,170","$654,750","$355,000",...,"$566,000","$384,700","$570,000","$725,000","$925,620","$435,000","$367,250","$500,000","$1,328,440","$750,000"
383,21-May,"$818,260","$1,312,500","$427,500","$449,000","$473,800","$1,015,000","$415,000","$688,000","$361,500",...,"$617,500","$400,000","$592,000","$725,000","$900,000","$445,000","$365,000","$510,000","$1,340,000","$752,250"

In [4]:
median_no_dsign = median_df_transformed.columns
median_df_transformed[median_no_dsign] = median_df_transformed[median_no_dsign].replace({'\$':'', '\,':'', '\-':'_'}, regex = True)
median_df_transformed.reset_index(drop = True, inplace = True)
median_df_transformed

6,month_year,ca,alameda,amador,butte,calaveras,contra_costa,del_norte,el_dorado,fresno,...,yolo,yuba,condo,la_metro,central_coast,central_valley,far_north,inland_empire,sf_bay_area,socal
0,16_Jan,467160,700000,215500,260000,258750,500000,157000,405000,216000,...,345000,210000,380110,434000,580000,261889,227000,291920,690000,450000
1,16_Feb,444780,715000,275000,264960,262500,529000,175000,422000,214250,...,379500,225000,387370,429980,555123,265436,219000,290270,698950,450000
2,16_Mar,484120,758000,307000,286810,270000,548780,199000,435010,231000,...,362500,235450,399740,448420,573000,275943,230000,309890,761090,469000
3,16_Apr,509240,800000,235000,272750,276000,565000,315000,432000,229000,...,419000,240000,409410,460940,607000,281556,234500,310840,831180,479900
4,16_May,519930,828000,268500,271000,287500,595000,189500,429500,232000,...,398000,225000,411120,469090,610000,285761,235000,315980,848580,490000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,21_Jan,699920,1060000,386250,420000,398500,765000,399000,600000,325000,...,485000,395000,515000,630000,829900,387250,335000,457000,1050000,650000
61,21_Feb,699000,1100000,406280,397000,441500,817500,359000,577500,350000,...,520000,370000,530000,649000,828500,405000,335000,470000,1151500,675000
62,21_Mar,758990,1163000,430000,406000,435850,920000,309000,652500,350000,...,530000,359500,552500,680000,871840,415000,350000,495000,1225000,705000
63,21_Apr,814010,1300000,415000,438500,475000,990000,364170,654750,355000,...,566000,384700,570000,725000,925620,435000,367250,500000,1328440,750000
64,21_May,818260,1312500,427500,449000,473800,1015000,415000,688000,361500,...,617500,400000,592000,725000,900000,445000,365000,510000,1340000,752250

In [5]:
new_median_df = median_df_transformed.transpose()
new_header = new_median_df.iloc[0] #grab the first row for the header
new_median_df = new_median_df[1:] #take the data less the header row
new_median_df.columns = new_header #set the header row as the df header
new_median_df.columns

Index(['16_Jan', '16_Feb', '16_Mar', '16_Apr', '16_May', '16_Jun', '16_Jul',
       '16_Aug', '16_Sep', '16_Oct', '16_Nov', '16_Dec', '17_Jan', '17_Feb',
       '17_Mar', '17_Apr', '17_May', '17_Jun', '17_Jul', '17_Aug', '17_Sep',
       '17_Oct', '17_Nov', '17_Dec', '18_Jan', '18_Feb', '18_Mar', '18_Apr',
       '18_May', '18_Jun', '18_Jul', '18_Aug', '18_Sep', '18_Oct', '18_Nov',
       '18_Dec', '19_Jan', '19_Feb', '19_Mar', '19_Apr', '19_May', '19_Jun',
       '19_Jul', '19_Aug', '19_Sep', '19_Oct', '19_Nov', '19_Dec', '20_Jan',
       '20_Feb', '20_Mar', '20_Apr', '20_May', '20_Jun', '20_Jul', '20_Aug',
       '20_Sep', '20_Oct', '20_Nov', '20_Dec', '21_Jan', '21_Feb', '21_Mar',
       '21_Apr', '21_May'],
      dtype='object', name='month_year')

In [6]:
new_median_df.reset_index(drop = False, inplace = True)

In [7]:
new_median_df.columns = new_median_df.columns.astype(str)

In [8]:
new_median_df.columns.map(type)

Index([<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>],
      dtype='object', name='month_year')

In [24]:
new_median_df = new_median_df.rename(columns={'6':'county'})
new_median_df.head(5)

month_year,county,16_Jan,16_Feb,16_Mar,16_Apr,16_May,16_Jun,16_Jul,16_Aug,16_Sep,...,20_Aug,20_Sep,20_Oct,20_Nov,20_Dec,21_Jan,21_Feb,21_Mar,21_Apr,21_May
0,ca,467160,444780,484120,509240,519930,518980,511420,527490,516450,...,706900,712430,711300,698980,717930,699920,699000,758990,814010,818260
1,alameda,700000,715000,758000,800000,828000,803000,800000,775000,760000,...,1028220,1050000,1049000,1049040,1060000,1060000,1100000,1163000,1300000,1312500
2,amador,215500,275000,307000,235000,268500,319000,275000,257500,243500,...,353500,359900,366500,360000,355000,386250,406280,430000,415000,427500
3,butte,260000,264960,286810,272750,271000,275000,288750,264120,275000,...,415000,403300,401500,405000,408460,420000,397000,406000,438500,449000
4,calaveras,258750,262500,270000,276000,287500,315000,291000,310000,285000,...,381000,392000,393640,407120,397500,398500,441500,435850,475000,473800

In [10]:
# new_median_df.set_index('county',inplace = True)

In [11]:
percent_change_df = pd.read_csv(percent_chg_file)
percent_change_df = percent_change_df.drop(percent_change_df.index[range(6)])
new_header = percent_change_df.iloc[0] #grab the first row for the header
percent_change_df = percent_change_df[1:] #take the data less the header row
percent_change_df.columns = new_header #set the header row as the df header
percent_change_df.drop(percent_change_df.iloc[:, 61:], inplace = True, axis = 1)
percent_change_df = percent_change_df.drop(percent_change_df.index[range(312,)])
percent_change_df.reset_index(drop = True, inplace = True)
percent_change_df

6,Mon-Yr,CA*,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Yolo,Yuba,Condo,LA Metro,Central Coast,Central Valley,Far North,Inland Empire,SF Bay Area,SoCal
0,16-Jan,11.80%,2.10%,30.40%,7.20%,-9.10%,-2.20%,5.60%,14.00%,19.60%,...,33.80%,43.20%,2.90%,7.30%,2.60%,11.60%,NaN,6.90%,6.20%,6.50%
1,16-Feb,-0.10%,-6.70%,3.30%,5.70%,57.10%,-8.90%,116.70%,-1.60%,14.80%,...,0.00%,16.10%,7.10%,2.40%,-1.90%,7.20%,NaN,6.60%,-5.70%,1.00%
2,16-Mar,-2.70%,-7.60%,71.90%,13.50%,35.20%,-7.90%,27.80%,15.00%,7.40%,...,28.50%,25.40%,3.50%,1.70%,-6.10%,7.00%,NaN,5.30%,-7.30%,1.60%
3,16-Apr,-2.60%,-13.30%,6.70%,-3.70%,17.30%,-12.00%,-55.20%,-5.30%,11.30%,...,-11.40%,9.70%,-2.70%,-4.20%,4.20%,0.30%,NaN,-2.00%,-12.80%,-4.10%
4,16-May,-1.00%,-8.20%,-4.30%,11.50%,8.30%,-9.60%,15.80%,3.20%,7.50%,...,3.00%,13.00%,1.20%,0.70%,-1.10%,2.80%,NaN,4.50%,-5.30%,1.30%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,21-Jan,22.50%,53.60%,46.30%,-17.40%,69.20%,27.50%,-5.60%,19.50%,10.50%,...,4.50%,-25.40%,30.10%,14.30%,19.90%,6.90%,-5.30%,14.30%,31.80%,13.50%
61,21-Feb,9.70%,32.60%,31.70%,-10.20%,4.10%,18.50%,58.30%,10.40%,-0.20%,...,15.20%,-25.80%,17.60%,10.00%,22.40%,-0.30%,17.30%,8.10%,16.10%,10.50%
62,21-Mar,19.70%,45.10%,16.90%,6.50%,-9.00%,34.60%,107.10%,31.30%,7.00%,...,22.30%,-25.30%,39.30%,24.50%,31.80%,9.60%,26.10%,21.50%,35.00%,23.30%
63,21-Apr,65.10%,88.40%,89.20%,26.10%,45.60%,95.60%,-4.30%,67.50%,28.50%,...,47.40%,4.20%,127.40%,68.10%,81.70%,39.80%,38.80%,53.00%,101.40%,65.50%
64,21-May,86.70%,130.20%,80.00%,63.20%,55.20%,95.10%,-59.10%,79.80%,40.50%,...,83.10%,100.00%,150.90%,81.00%,111.80%,44.00%,58.60%,58.40%,104.60%,80.00%

In [12]:
percent_df_transformed = percent_change_df.rename(columns={'Mon-Yr':'month_year',
                                                           'CA*':'ca',
                                                           'Del Norte':'del_norte',
                                                              'El Dorado':'el_dorado',
                                                             'Contra-Costa':'contra_costa',
                                                             'Los Angeles':'los_angeles',
                                                             'LA Metro':'la_metro',
                                                             'Central Coast':'central_coast',
                                                             'Central Valley':'central_valley',
                                                             'Far North':'far_north',
                                                             'Inland Empire':'inland_empire',
                                                              'San Benito':'san_benito',
                                                              'San Bernardino':'san_bernardino',
                                                              'San Diego':'san_diego',
                                                              'San Francisco':'san_francisco',
                                                              'San Joaquin':'san_joaquin',
                                                              'San Luis Obispo':'san_luis_obispo',
                                                              'San Mateo':'san_mateo',
                                                              'Santa Barbara':'santa_barbara',
                                                              'Santa Clara':'santa_clara',
                                                              'Santa Cruz':'santa_cruz',
                                                              'SF Bay Area':'sf_bay_area'})                                                            

percent_df_transformed.columns = percent_df_transformed.columns.str.lower()

percent_df_transformed

6,month_year,ca,alameda,amador,butte,calaveras,contra_costa,del_norte,el_dorado,fresno,...,yolo,yuba,condo,la_metro,central_coast,central_valley,far_north,inland_empire,sf_bay_area,socal
0,16-Jan,11.80%,2.10%,30.40%,7.20%,-9.10%,-2.20%,5.60%,14.00%,19.60%,...,33.80%,43.20%,2.90%,7.30%,2.60%,11.60%,NaN,6.90%,6.20%,6.50%
1,16-Feb,-0.10%,-6.70%,3.30%,5.70%,57.10%,-8.90%,116.70%,-1.60%,14.80%,...,0.00%,16.10%,7.10%,2.40%,-1.90%,7.20%,NaN,6.60%,-5.70%,1.00%
2,16-Mar,-2.70%,-7.60%,71.90%,13.50%,35.20%,-7.90%,27.80%,15.00%,7.40%,...,28.50%,25.40%,3.50%,1.70%,-6.10%,7.00%,NaN,5.30%,-7.30%,1.60%
3,16-Apr,-2.60%,-13.30%,6.70%,-3.70%,17.30%,-12.00%,-55.20%,-5.30%,11.30%,...,-11.40%,9.70%,-2.70%,-4.20%,4.20%,0.30%,NaN,-2.00%,-12.80%,-4.10%
4,16-May,-1.00%,-8.20%,-4.30%,11.50%,8.30%,-9.60%,15.80%,3.20%,7.50%,...,3.00%,13.00%,1.20%,0.70%,-1.10%,2.80%,NaN,4.50%,-5.30%,1.30%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,21-Jan,22.50%,53.60%,46.30%,-17.40%,69.20%,27.50%,-5.60%,19.50%,10.50%,...,4.50%,-25.40%,30.10%,14.30%,19.90%,6.90%,-5.30%,14.30%,31.80%,13.50%
61,21-Feb,9.70%,32.60%,31.70%,-10.20%,4.10%,18.50%,58.30%,10.40%,-0.20%,...,15.20%,-25.80%,17.60%,10.00%,22.40%,-0.30%,17.30%,8.10%,16.10%,10.50%
62,21-Mar,19.70%,45.10%,16.90%,6.50%,-9.00%,34.60%,107.10%,31.30%,7.00%,...,22.30%,-25.30%,39.30%,24.50%,31.80%,9.60%,26.10%,21.50%,35.00%,23.30%
63,21-Apr,65.10%,88.40%,89.20%,26.10%,45.60%,95.60%,-4.30%,67.50%,28.50%,...,47.40%,4.20%,127.40%,68.10%,81.70%,39.80%,38.80%,53.00%,101.40%,65.50%
64,21-May,86.70%,130.20%,80.00%,63.20%,55.20%,95.10%,-59.10%,79.80%,40.50%,...,83.10%,100.00%,150.90%,81.00%,111.80%,44.00%,58.60%,58.40%,104.60%,80.00%

In [13]:
percent_no_psign = percent_df_transformed.columns
percent_df_transformed[percent_no_psign] = percent_df_transformed[percent_no_psign].replace({'\%':''}, regex = True)
percent_df_transformed

6,month_year,ca,alameda,amador,butte,calaveras,contra_costa,del_norte,el_dorado,fresno,...,yolo,yuba,condo,la_metro,central_coast,central_valley,far_north,inland_empire,sf_bay_area,socal
0,16-Jan,11.80,2.10,30.40,7.20,-9.10,-2.20,5.60,14.00,19.60,...,33.80,43.20,2.90,7.30,2.60,11.60,NaN,6.90,6.20,6.50
1,16-Feb,-0.10,-6.70,3.30,5.70,57.10,-8.90,116.70,-1.60,14.80,...,0.00,16.10,7.10,2.40,-1.90,7.20,NaN,6.60,-5.70,1.00
2,16-Mar,-2.70,-7.60,71.90,13.50,35.20,-7.90,27.80,15.00,7.40,...,28.50,25.40,3.50,1.70,-6.10,7.00,NaN,5.30,-7.30,1.60
3,16-Apr,-2.60,-13.30,6.70,-3.70,17.30,-12.00,-55.20,-5.30,11.30,...,-11.40,9.70,-2.70,-4.20,4.20,0.30,NaN,-2.00,-12.80,-4.10
4,16-May,-1.00,-8.20,-4.30,11.50,8.30,-9.60,15.80,3.20,7.50,...,3.00,13.00,1.20,0.70,-1.10,2.80,NaN,4.50,-5.30,1.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,21-Jan,22.50,53.60,46.30,-17.40,69.20,27.50,-5.60,19.50,10.50,...,4.50,-25.40,30.10,14.30,19.90,6.90,-5.30,14.30,31.80,13.50
61,21-Feb,9.70,32.60,31.70,-10.20,4.10,18.50,58.30,10.40,-0.20,...,15.20,-25.80,17.60,10.00,22.40,-0.30,17.30,8.10,16.10,10.50
62,21-Mar,19.70,45.10,16.90,6.50,-9.00,34.60,107.10,31.30,7.00,...,22.30,-25.30,39.30,24.50,31.80,9.60,26.10,21.50,35.00,23.30
63,21-Apr,65.10,88.40,89.20,26.10,45.60,95.60,-4.30,67.50,28.50,...,47.40,4.20,127.40,68.10,81.70,39.80,38.80,53.00,101.40,65.50
64,21-May,86.70,130.20,80.00,63.20,55.20,95.10,-59.10,79.80,40.50,...,83.10,100.00,150.90,81.00,111.80,44.00,58.60,58.40,104.60,80.00

In [14]:
county_df = pd.read_csv(counties_file)
county_df = county_df.loc[county_df['state_id'] == 'CA']
county_df = county_df[['county', 'lat', 'lng', 'population']]

In [15]:
county_df.iloc[8,0] = 'Contra_Costa'
county_df.county.to_list()

['Los Angeles',
 'San Diego',
 'Orange',
 'Riverside',
 'San Bernardino',
 'Santa Clara',
 'Alameda',
 'Sacramento',
 'Contra_Costa',
 'Fresno',
 'Kern',
 'San Francisco',
 'Ventura',
 'San Mateo',
 'San Joaquin',
 'Stanislaus',
 'Sonoma',
 'Tulare',
 'Santa Barbara',
 'Solano',
 'Monterey',
 'Placer',
 'San Luis Obispo',
 'Santa Cruz',
 'Merced',
 'Marin',
 'Butte',
 'Yolo',
 'El Dorado',
 'Imperial',
 'Shasta',
 'Madera',
 'Kings',
 'Napa',
 'Humboldt',
 'Nevada',
 'Sutter',
 'Mendocino',
 'Yuba',
 'Lake',
 'Tehama',
 'San Benito',
 'Tuolumne',
 'Calaveras',
 'Siskiyou',
 'Amador',
 'Lassen',
 'Glenn',
 'Del Norte',
 'Colusa',
 'Plumas',
 'Inyo',
 'Mariposa',
 'Mono',
 'Trinity',
 'Modoc',
 'Sierra',
 'Alpine']

In [16]:
county_df.set_index('county',inplace = True)

In [17]:
county_df.head(5)

                    lat       lng  population
county
Los Angeles     34.3207 -118.2248    10081570
San Diego       33.0341 -116.7353     3316073
Orange          33.7030 -117.7611     3168044
Riverside       33.7437 -115.9938     2411439
San Bernardino  34.8414 -116.1784     2149031

In [18]:
new_county_df = county_df.transpose()
new_county_df.head(None)

county,Los Angeles,San Diego,Orange,Riverside,San Bernardino,Santa Clara,Alameda,Sacramento,Contra_Costa,Fresno,...,Del Norte,Colusa,Plumas,Inyo,Mariposa,Mono,Trinity,Modoc,Sierra,Alpine
lat,3.432070e+01,3.303410e+01,3.370300e+01,3.374370e+01,3.484140e+01,3.723180e+01,3.764690e+01,3.844930e+01,3.791910e+01,36.7582,...,41.7431,39.1775,40.0046,36.5111,37.5815,37.9391,40.6507,41.5898,39.5803,38.5972
lng,-1.182248e+02,-1.167353e+02,-1.177611e+02,-1.159938e+02,-1.161784e+02,-1.216951e+02,-1.218889e+02,-1.213443e+02,-1.219278e+02,-119.6493,...,-123.8972,-122.2370,-120.8385,-117.4107,-119.9054,-118.8868,-123.1126,-120.7250,-120.5160,-119.8207
population,1.008157e+07,3.316073e+06,3.168044e+06,2.411439e+06,2.149031e+06,1.927470e+06,1.656754e+06,1.524553e+06,1.142251e+06,984521.0000,...,27495.0000,21454.0000,18660.0000,17977.0000,17420.0000,14310.0000,12700.0000,8907.0000,3040.0000,1039.0000

In [19]:
new_county_df_transformed = new_county_df.rename(columns={'Del Norte':'del_norte',
                                                              'El Dorado':'el_dorado',
                                                             'Los Angeles':'los_angeles',
                                                             'LA Metro':'la_metro',
                                                             'Central Coast':'central_coast',
                                                             'Central Valley':'central_valley',
                                                             'Far North':'far_north',
                                                             'Inland Empire':'inland_empire',
                                                              'San Benito':'san_benito',
                                                              'San Bernardino':'san_bernardino',
                                                              'San Diego':'san_diego',
                                                              'San Francisco':'san_francisco',
                                                              'San Joaquin':'san_joaquin',
                                                              'San Luis Obispo':'san_luis_obispo',
                                                              'San Mateo':'san_mateo',
                                                              'Santa Barbara':'santa_barbara',
                                                              'Santa Clara':'santa_clara',
                                                              'Santa Cruz':'santa_cruz',
                                                              'S.F. Bay Area':'sf_bay_area'})                                                            

new_county_df_transformed.columns = new_county_df_transformed.columns.str.lower()

In [20]:
new_county_df= new_county_df_transformed.transpose()
new_county_df.head(5)

                    lat       lng  population
county
los_angeles     34.3207 -118.2248  10081570.0
san_diego       33.0341 -116.7353   3316073.0
orange          33.7030 -117.7611   3168044.0
riverside       33.7437 -115.9938   2411439.0
san_bernardino  34.8414 -116.1784   2149031.0

In [21]:
housing_connection_string = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
# confirm the connection string
print(housing_connection_string)
        
# connect to the database
engine = create_engine(housing_connection_string)
conn = engine.connect()

postgresql://postgres:git789su@localhost:5432/housing_db

In [22]:
print(engine.table_names())

['medianprice', 'percentchange', 'countycoor']

In [23]:
median_df_transformed.to_sql(name='medianprice', con=conn, if_exists='append', index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "medianprice_pkey"
DETAIL:  Key (index)=(0) already exists.

[SQL: INSERT INTO medianprice (index, month_year, ca, alameda, amador, butte, calaveras, contra_costa, del_norte, el_dorado, fresno, glenn, humboldt, kern, kings, lake, lassen, los_angeles, madera, marin, mariposa, mendocino, merced, mono, monterey, napa, nevada, orange, placer, plumas, riverside, sacramento, san_benito, san_bernardino, san_diego, san_francisco, san_joaquin, san_luis_obispo, san_mateo, santa_barbara, santa_clara, santa_cruz, shasta, siskiyou, solano, sonoma, stanislaus, sutter, tehama, tulare, tuolumne, ventura, yolo, yuba, condo, la_metro, central_coast, central_valley, far_north, inland_empire, sf_bay_area, socal) VALUES (%(index)s, %(month_year)s, %(ca)s, %(alameda)s, %(amador)s, %(butte)s, %(calaveras)s, %(contra_costa)s, %(del_norte)s, %(el_dorado)s, %(fresno)s, %(glenn)s, %(humboldt)s, %(kern)s, %(kings)s, %(lake)s, %(lassen)s, %(los_angeles)s, %(madera)s, %(marin)s, %(mariposa)s, %(mendocino)s, %(merced)s, %(mono)s, %(monterey)s, %(napa)s, %(nevada)s, %(orange)s, %(placer)s, %(plumas)s, %(riverside)s, %(sacramento)s, %(san_benito)s, %(san_bernardino)s, %(san_diego)s, %(san_francisco)s, %(san_joaquin)s, %(san_luis_obispo)s, %(san_mateo)s, %(santa_barbara)s, %(santa_clara)s, %(santa_cruz)s, %(shasta)s, %(siskiyou)s, %(solano)s, %(sonoma)s, %(stanislaus)s, %(sutter)s, %(tehama)s, %(tulare)s, %(tuolumne)s, %(ventura)s, %(yolo)s, %(yuba)s, %(condo)s, %(la_metro)s, %(central_coast)s, %(central_valley)s, %(far_north)s, %(inland_empire)s, %(sf_bay_area)s, %(socal)s)]
[parameters: ({'index': 0, 'month_year': '16_Jan', 'ca': '467160 ', 'alameda': '700000 ', 'amador': '215500 ', 'butte': '260000 ', 'calaveras': '258750 ', 'contra_costa': '500000 ', 'del_norte': '157000 ', 'el_dorado': '405000 ', 'fresno': '216000 ', 'glenn': '159975 ', 'humboldt': '247800 ', 'kern': '215000 ', 'kings': '190000 ', 'lake': '235000 ', 'lassen': '105000 ', 'los_angeles': '480950 ', 'madera': '227500 ', 'marin': '952500 ', 'mariposa': '279000 ', 'mendocino': '355000 ', 'merced': '193950 ', 'mono': '475000 ', 'monterey': '500000 ', 'napa': '584500 ', 'nevada': '339500 ', 'orange': '699900 ', 'placer': '405000 ', 'plumas': '342000 ', 'riverside': '328000 ', 'sacramento': '281000 ', 'san_benito': '480000 ', 'san_bernardino': '234460 ', 'san_diego': '530000 ', 'san_francisco': '1160000 ', 'san_joaquin': '290000 ', 'san_luis_obispo': '540000 ', 'san_mateo': '1077500 ', 'santa_barbara': '748000 ', 'santa_clara': '895000 ', 'santa_cruz': '694500 ', 'shasta': '226250 ', 'siskiyou': '195000 ', 'solano': '354000 ', 'sonoma': '550000 ', 'stanislaus': '245000 ', 'sutter': '213700 ', 'tehama': '190000 ', 'tulare': '195000 ', 'tuolumne': '210000 ', 'ventura': '638590 ', 'yolo': '345000 ', 'yuba': '210000 ', 'condo': '380110 ', 'la_metro': '434000 ', 'central_coast': '580000 ', 'central_valley': '261889 ', 'far_north': '227000 ', 'inland_empire': '291920 ', 'sf_bay_area': '690000 ', 'socal': '450000 '}, {'index': 1, 'month_year': '16_Feb', 'ca': '444780 ', 'alameda': '715000 ', 'amador': '275000 ', 'butte': '264960 ', 'calaveras': '262500 ', 'contra_costa': '529000 ', 'del_norte': '175000 ', 'el_dorado': '422000 ', 'fresno': '214250 ', 'glenn': '197500 ', 'humboldt': '265540 ', 'kern': '220000 ', 'kings': '205000 ', 'lake': '190000 ', 'lassen': '135000 ', 'los_angeles': '444410 ', 'madera': '219920 ', 'marin': '1141400 ', 'mariposa': '264250 ', 'mendocino': '382500 ', 'merced': '199000 ', 'mono': '282450 ', 'monterey': '497980 ', 'napa': '650000 ', 'nevada': '295950 ', 'orange': '705000 ', 'placer': '417000 ', 'plumas': '269000 ', 'riverside': '330000 ', 'sacramento': '299000 ', 'san_benito': '464500 ', 'san_bernardino': '226870 ', 'san_diego': '523500 ', 'san_francisco': '1410000 ', 'san_joaquin': '295000 ', 'san_luis_obispo': '518000 ', 'san_mateo': '1200000 ', 'santa_barbara': '735000 ', 'santa_clara': '942500 ', 'santa_cruz': '794500 ', 'shasta': '212250 ', 'siskiyou': '168000 ', 'solano': '361500 ', 'sonoma': '540000 ', 'stanislaus': '250000 ', 'sutter': '230000 ', 'tehama': '170750 ', 'tulare': '190000 ', 'tuolumne': '256500 ', 'ventura': '610820 ', 'yolo': '379500 ', 'yuba': '225000 ', 'condo': '387370 ', 'la_metro': '429980 ', 'central_coast': '555123 ', 'central_valley': '265436 ', 'far_north': '219000 ', 'inland_empire': '290270 ', 'sf_bay_area': '698950 ', 'socal': '450000 '}, {'index': 2, 'month_year': '16_Mar', 'ca': '484120 ', 'alameda': '758000 ', 'amador': '307000 ', 'butte': '286810 ', 'calaveras': '270000 ', 'contra_costa': '548780 ', 'del_norte': '199000 ', 'el_dorado': '435010 ', 'fresno': '231000 ', 'glenn': '196000 ', 'humboldt': '280000 ', 'kern': '220000 ', 'kings': '205000 ', 'lake': '242450 ', 'lassen': '112000 ', 'los_angeles': '441700 ', 'madera': '219500 ', 'marin': '1187500 ', 'mariposa': '227500 ', 'mendocino': '379000 ', 'merced': '185000 ', 'mono': '580000 ', 'monterey': '490000 ', 'napa': '650000 ', 'nevada': '364900 ', 'orange': '720200 ', 'placer': '405000 ', 'plumas': '225000 ', 'riverside': '350000 ', 'sacramento': '305000 ', 'san_benito': '495000 ', 'san_bernardino': '237350 ', 'san_diego': '550000 ', 'san_francisco': '1355000 ', 'san_joaquin': '295000 ', 'san_luis_obispo': '550000 ', 'san_mateo': '1205000 ', 'santa_barbara': '569000 ', 'santa_clara': '1065000 ', 'santa_cruz': '790000 ', 'shasta': '222250 ', 'siskiyou': '151000 ', 'solano': '370000 ', 'sonoma': '560000 ', 'stanislaus': '262000 ', 'sutter': '232000 ', 'tehama': '189500 ', 'tulare': '198000 ', 'tuolumne': '244900 ', 'ventura': '620020 ', 'yolo': '362500 ', 'yuba': '235450 ', 'condo': '399740 ', 'la_metro': '448420 ', 'central_coast': '573000 ', 'central_valley': '275943 ', 'far_north': '230000 ', 'inland_empire': '309890 ', 'sf_bay_area': '761090 ', 'socal': '469000 '}, {'index': 3, 'month_year': '16_Apr', 'ca': '509240 ', 'alameda': '800000 ', 'amador': '235000 ', 'butte': '272750 ', 'calaveras': '276000 ', 'contra_costa': '565000 ', 'del_norte': '315000 ', 'el_dorado': '432000 ', 'fresno': '229000 ', 'glenn': '225000 ', 'humboldt': '277500 ', 'kern': '215600 ', 'kings': '202000 ', 'lake': '240500 ', 'lassen': '152950 ', 'los_angeles': '457180 ', 'madera': '215000 ', 'marin': '1200000 ', 'mariposa': '235000 ', 'mendocino': '331000 ', 'merced': '205000 ', 'mono': '316500 ', 'monterey': '529900 ', 'napa': '629980 ', 'nevada': '327500 ', 'orange': '735000 ', 'placer': '429500 ', 'plumas': '277000 ', 'riverside': '350000 ', 'sacramento': '309000 ', 'san_benito': '479000 ', 'san_bernardino': '236850 ', 'san_diego': '557000 ', 'san_francisco': '1400000 ', 'san_joaquin': '300500 ', 'san_luis_obispo': '535000 ', 'san_mateo': '1312500 ', 'santa_barbara': '725000 ', 'santa_clara': '1085000 ', 'santa_cruz': '775500 ', 'shasta': '223950 ', 'siskiyou': '166000 ', 'solano': '380000 ', 'sonoma': '569000 ', 'stanislaus': '265000 ', 'sutter': '232000 ', 'tehama': '184000 ', 'tulare': '207250 ', 'tuolumne': '253750 ', 'ventura': '630100 ', 'yolo': '419000 ', 'yuba': '240000 ', 'condo': '409410 ', 'la_metro': '460940 ', 'central_coast': '607000 ', 'central_valley': '281556 ', 'far_north': '234500 ', 'inland_empire': '310840 ', 'sf_bay_area': '831180 ', 'socal': '479900 '}, {'index': 4, 'month_year': '16_May', 'ca': '519930 ', 'alameda': '828000 ', 'amador': '268500 ', 'butte': '271000 ', 'calaveras': '287500 ', 'contra_costa': '595000 ', 'del_norte': '189500 ', 'el_dorado': '429500 ', 'fresno': '232000 ', 'glenn': '175000 ', 'humboldt': '270000 ', 'kern': '225000 ', 'kings': '215000 ', 'lake': '238000 ', 'lassen': '134450 ', 'los_angeles': '467290 ', 'madera': '213500 ', 'marin': '1237500 ', 'mariposa': '299000 ', 'mendocino': '330000 ', 'merced': '223500 ', 'mono': '585000 ', 'monterey': '540000 ', 'napa': '645770 ', 'nevada': '354000 ', 'orange': '731750 ', 'placer': '427000 ', 'plumas': '225000 ', 'riverside': '355000 ', 'sacramento': '317950 ', 'san_benito': '479000 ', 'san_bernardino': '245080 ', 'san_diego': '565000 ', 'san_francisco': '1360000 ', 'san_joaquin': '320000 ', 'san_luis_obispo': '540000 ', 'san_mateo': '1392500 ', 'santa_barbara': '689000 ', 'santa_clara': '1100000 ', 'santa_cruz': '800000 ', 'shasta': '229000 ', 'siskiyou': '175000 ', 'solano': '385500 ', 'sonoma': '580000 ', 'stanislaus': '265000 ', 'sutter': '235000 ', 'tehama': '170000 ', 'tulare': '205000 ', 'tuolumne': '242500 ', 'ventura': '617740 ', 'yolo': '398000 ', 'yuba': '225000 ', 'condo': '411120 ', 'la_metro': '469090 ', 'central_coast': '610000 ', 'central_valley': '285761 ', 'far_north': '235000 ', 'inland_empire': '315980 ', 'sf_bay_area': '848580 ', 'socal': '490000 '}, {'index': 5, 'month_year': '16_Jun', 'ca': '518980 ', 'alameda': '803000 ', 'amador': '319000 ', 'butte': '275000 ', 'calaveras': '315000 ', 'contra_costa': '625000 ', 'del_norte': '198750 ', 'el_dorado': '461550 ', 'fresno': '241000 ', 'glenn': '205000 ', 'humboldt': '284000 ', 'kern': '239700 ', 'kings': '207000 ', 'lake': '259000 ', 'lassen': '166000 ', 'los_angeles': '502190 ', 'madera': '230380 ', 'marin': '1218500 ', 'mariposa': '264000 ', 'mendocino': '350000 ', 'merced': '213500 ', 'mono': '664250 ', 'monterey': '537000 ', 'napa': '619000 ', 'nevada': '352000 ', 'orange': '754000 ', 'placer': '430000 ', 'plumas': '270000 ', 'riverside': '360000 ', 'sacramento': '329000 ', 'san_benito': '511500 ', 'san_bernardino': '245220 ', 'san_diego': '560000 ', 'san_francisco': '1350000 ', 'san_joaquin': '315000 ', 'san_luis_obispo': '525000 ', 'san_mateo': '1306250 ', 'santa_barbara': '742000 ', 'santa_clara': '1050000 ', 'santa_cruz': '800000 ', 'shasta': '243000 ', 'siskiyou': '215000 ', 'solano': '390000 ', 'sonoma': '608000 ', 'stanislaus': '276000 ', 'sutter': '251000 ', 'tehama': '235000 ', 'tulare': '210000 ', 'tuolumne': '245000 ', 'ventura': '662500 ', 'yolo': '399900 ', 'yuba': '250000 ', 'condo': '413260 ', 'la_metro': '473670 ', 'central_coast': '615000 ', 'central_valley': '293457 ', 'far_north': '250000 ', 'inland_empire': '319100 ', 'sf_bay_area': '841960 ', 'socal': '495000 '}, {'index': 6, 'month_year': '16_Jul', 'ca': '511420 ', 'alameda': '800000 ', 'amador': '275000 ', 'butte': '288750 ', 'calaveras': '291000 ', 'contra_costa': '625000 ', 'del_norte': '201280 ', 'el_dorado': '425000 ', 'fresno': '235700 ', 'glenn': '225000 ', 'humboldt': '307900 ', 'kern': '233500 ', 'kings': '215000 ', 'lake': '245250 ', 'lassen': '165000 ', 'los_angeles': '513700 ', 'madera': '233000 ', 'marin': '1150000 ', 'mariposa': '270000 ', 'mendocino': '345000 ', 'merced': '215000 ', 'mono': '534600 ', 'monterey': '539750 ', 'napa': '634380 ', 'nevada': '359000 ', 'orange': '734000 ', 'placer': '435000 ', 'plumas': '245000 ', 'riverside': '359900 ', 'sacramento': '320000 ', 'san_benito': '485000 ', 'san_bernardino': '248000 ', 'san_diego': '560000 ', 'san_francisco': '1362500 ', 'san_joaquin': '308500 ', 'san_luis_obispo': '549000 ', 'san_mateo': '1350000 ', 'santa_barbara': '583800 ', 'santa_clara': '1045000 ', 'santa_cruz': '756500 ', 'shasta': '229450 ', 'siskiyou': '214000 ', 'solano': '381000 ', 'sonoma': '572500 ', 'stanislaus': '270000 ', 'sutter': '275000 ', 'tehama': '184000 ', 'tulare': '215000 ', 'tuolumne': '245000 ', 'ventura': '615000 ', 'yolo': '389000 ', 'yuba': '254500 ', 'condo': '421830 ', 'la_metro': '465000 ', 'central_coast': '580000 ', 'central_valley': '291095 ', 'far_north': '243500 ', 'inland_empire': '317950 ', 'sf_bay_area': '810510 ', 'socal': '490000 '}, {'index': 7, 'month_year': '16_Aug', 'ca': '527490 ', 'alameda': '775000 ', 'amador': '257500 ', 'butte': '264120 ', 'calaveras': '310000 ', 'contra_costa': '570000 ', 'del_norte': '174500 ', 'el_dorado': '425000 ', 'fresno': '239000 ', 'glenn': '230500 ', 'humboldt': '290000 ', 'kern': '220000 ', 'kings': '209220 ', 'lake': '234500 ', 'lassen': '185000 ', 'los_angeles': '520400 ', 'madera': '245000 ', 'marin': '1200000 ', 'mariposa': '311500 ', 'mendocino': '362500 ', 'merced': '220000 ', 'mono': '532500 ', 'monterey': '515000 ', 'napa': '625000 ', 'nevada': '343000 ', 'orange': '749000 ', 'placer': '430000 ', 'plumas': '275000 ', 'riverside': '355000 ', 'sacramento': '323500 ', 'san_benito': '538380 ', 'san_bernardino': '240500 ', 'san_diego': '563000 ', 'san_francisco': '1257500 ', 'san_joaquin': '325000 ', 'san_luis_obispo': '535000 ', 'san_mateo': '1250000 ', 'santa_barbara': '775000 ', 'santa_clara': '975000 ', 'santa_cruz': '824000 ', 'shasta': '248000 ', 'siskiyou': '204500 ', 'solano': '410000 ', 'sonoma': '585000 ', 'stanislaus': '272750 ', 'sutter': '267410 ', 'tehama': '202000 ', 'tulare': '204900 ', 'tuolumne': '266450 ', 'ventura': '609000 ', 'yolo': '410480 ', 'yuba': '249900 ', 'condo': '419260 ', 'la_metro': '473300 ', 'central_coast': '648900 ', 'central_valley': '290751 ', 'far_north': '245500 ', 'inland_empire': '316630 ', 'sf_bay_area': '777160 ', 'socal': '495000 '}  ... displaying 10 of 65 total bound parameter sets ...  {'index': 63, 'month_year': '21_Apr', 'ca': '814010 ', 'alameda': '1300000 ', 'amador': '415000 ', 'butte': '438500 ', 'calaveras': '475000 ', 'contra_costa': '990000 ', 'del_norte': '364170 ', 'el_dorado': '654750 ', 'fresno': '355000 ', 'glenn': '302500 ', 'humboldt': '425000 ', 'kern': '315000 ', 'kings': '305000 ', 'lake': '324950 ', 'lassen': '253000 ', 'los_angeles': '718440 ', 'madera': '378000 ', 'marin': '1610000 ', 'mariposa': '343200 ', 'mendocino': '528000 ', 'merced': '325000 ', 'mono': '974000 ', 'monterey': '840000 ', 'napa': '950000 ', 'nevada': '555000 ', 'orange': '1100000 ', 'placer': '625000 ', 'plumas': '400000 ', 'riverside': '545500 ', 'sacramento': '490000 ', 'san_benito': '722500 ', 'san_bernardino': '405000 ', 'san_diego': '825120 ', 'san_francisco': '1800000 ', 'san_joaquin': '490000 ', 'san_luis_obispo': '799950 ', 'san_mateo': '2001000 ', 'santa_barbara': '1100000 ', 'santa_clara': '1650000 ', 'santa_cruz': '1265000 ', 'shasta': '350000 ', 'siskiyou': '302500 ', 'solano': '555000 ', 'sonoma': '777500 ', 'stanislaus': '419000 ', 'sutter': '410000 ', 'tehama': '362000 ', 'tulare': '309600 ', 'tuolumne': '367000 ', 'ventura': '865000 ', 'yolo': '566000 ', 'yuba': '384700 ', 'condo': '570000 ', 'la_metro': '725000 ', 'central_coast': '925620 ', 'central_valley': '435000 ', 'far_north': '367250 ', 'inland_empire': '500000 ', 'sf_bay_area': '1328440 ', 'socal': '750000 '}, {'index': 64, 'month_year': '21_May', 'ca': '818260 ', 'alameda': '1312500 ', 'amador': '427500 ', 'butte': '449000 ', 'calaveras': '473800 ', 'contra_costa': '1015000 ', 'del_norte': '415000 ', 'el_dorado': '688000 ', 'fresno': '361500 ', 'glenn': '384000 ', 'humboldt': '400000 ', 'kern': '317000 ', 'kings': '315000 ', 'lake': '360000 ', 'lassen': '247450 ', 'los_angeles': '725680 ', 'madera': '360000 ', 'marin': '1632500 ', 'mariposa': '415000 ', 'mendocino': '602500 ', 'merced': '350000 ', 'mono': '1140000 ', 'monterey': '887000 ', 'napa': '837500 ', 'nevada': '563250 ', 'orange': '1100000 ', 'placer': '663450 ', 'plumas': '423000 ', 'riverside': '560000 ', 'sacramento': '500000 ', 'san_benito': '810000 ', 'san_bernardino': '410000 ', 'san_diego': '851000 ', 'san_francisco': '1900000 ', 'san_joaquin': '500000 ', 'san_luis_obispo': '775000 ', 'san_mateo': '2075000 ', 'santa_barbara': '1299000 ', 'santa_clara': '1675000 ', 'santa_cruz': '1300000 ', 'shasta': '360000 ', 'siskiyou': '289000 ', 'solano': '579000 ', 'sonoma': '780000 ', 'stanislaus': '440000 ', 'sutter': '410000 ', 'tehama': '348000 ', 'tulare': '324350 ', 'tuolumne': '390700 ', 'ventura': '806000 ', 'yolo': '617500 ', 'yuba': '400000 ', 'condo': '592000 ', 'la_metro': '725000 ', 'central_coast': '900000 ', 'central_valley': '445000 ', 'far_north': '365000 ', 'inland_empire': '510000 ', 'sf_bay_area': '1340000 ', 'socal': '752250 '})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [ ]:
new_county_df.to_sql(name='countycoor', con=conn, if_exists='append', index=True)

In [ ]:
percent_df_transformed.to_sql(name='percentchange', con=conn, if_exists='append', index=True)