In [1]:
#Dependecies
import pandas as pd
from sqlalchemy import create_engine, inspect
from config import db_user, db_password, db_host, db_port, db_name

In [2]:
median_file = "SearchedDataSamples/MedianPrices.csv"
percent_chg_file = "SearchedDataSamples/PercentChange.csv"
counties_file = "SearchedDataSamples/uscounties.csv"
median_df = pd.read_csv(median_file)
median_df = median_df.drop(median_df.index[range(6)])
new_header = median_df.iloc[0] #grab the first row for the header
median_df = median_df[1:] #take the data less the header row
median_df.columns = new_header #set the header row as the df header
median_df.drop(median_df.iloc[:, 61:], inplace = True, axis = 1)
median_df.head(25)
#print(len(median_df.columns))
#Note: potential data, drop columns 0-54, keep the rest up to 62
#314 to end
median_df = median_df.drop(median_df.index[range(312,)])
median_df

6,Mon-Yr,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Yolo,Yuba,Condo,LA Metro,Central Coast,Central Valley,Far North,Inland Empire,S.F. Bay Area,SoCal
319,16-Jan,"$467,160","$700,000","$215,500","$260,000","$258,750","$500,000","$157,000","$405,000","$216,000",...,"$345,000","$210,000","$380,110","$434,000","$580,000","$261,889","$227,000","$291,920","$690,000","$450,000"
320,16-Feb,"$444,780","$715,000","$275,000","$264,960","$262,500","$529,000","$175,000","$422,000","$214,250",...,"$379,500","$225,000","$387,370","$429,980","$555,123","$265,436","$219,000","$290,270","$698,950","$450,000"
321,16-Mar,"$484,120","$758,000","$307,000","$286,810","$270,000","$548,780","$199,000","$435,010","$231,000",...,"$362,500","$235,450","$399,740","$448,420","$573,000","$275,943","$230,000","$309,890","$761,090","$469,000"
322,16-Apr,"$509,240","$800,000","$235,000","$272,750","$276,000","$565,000","$315,000","$432,000","$229,000",...,"$419,000","$240,000","$409,410","$460,940","$607,000","$281,556","$234,500","$310,840","$831,180","$479,900"
323,16-May,"$519,930","$828,000","$268,500","$271,000","$287,500","$595,000","$189,500","$429,500","$232,000",...,"$398,000","$225,000","$411,120","$469,090","$610,000","$285,761","$235,000","$315,980","$848,580","$490,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,21-Jan,"$699,920","$1,060,000","$386,250","$420,000","$398,500","$765,000","$399,000","$600,000","$325,000",...,"$485,000","$395,000","$515,000","$630,000","$829,900","$387,250","$335,000","$457,000","$1,050,000","$650,000"
380,21-Feb,"$699,000","$1,100,000","$406,280","$397,000","$441,500","$817,500","$359,000","$577,500","$350,000",...,"$520,000","$370,000","$530,000","$649,000","$828,500","$405,000","$335,000","$470,000","$1,151,500","$675,000"
381,21-Mar,"$758,990","$1,163,000","$430,000","$406,000","$435,850","$920,000","$309,000","$652,500","$350,000",...,"$530,000","$359,500","$552,500","$680,000","$871,840","$415,000","$350,000","$495,000","$1,225,000","$705,000"
382,21-Apr,"$814,010","$1,300,000","$415,000","$438,500","$475,000","$990,000","$364,170","$654,750","$355,000",...,"$566,000","$384,700","$570,000","$725,000","$925,620","$435,000","$367,250","$500,000","$1,328,440","$750,000"
383,21-May,"$818,260","$1,312,500","$427,500","$449,000","$473,800","$1,015,000","$415,000","$688,000","$361,500",...,"$617,500","$400,000","$592,000","$725,000","$900,000","$445,000","$365,000","$510,000","$1,340,000","$752,250"

In [3]:
new_header.to_list()

['Mon-Yr',
 'CA',
 'Alameda',
 'Amador',
 'Butte',
 'Calaveras',
 'Contra-Costa',
 'Del Norte',
 'El Dorado',
 'Fresno',
 'Glenn',
 'Humboldt',
 'Kern',
 'Kings',
 'Lake',
 'Lassen',
 'Los Angeles',
 'Madera',
 'Marin',
 'Mariposa',
 'Mendocino',
 'Merced',
 'Mono',
 'Monterey',
 'Napa',
 'Nevada',
 'Orange',
 'Placer',
 'Plumas',
 'Riverside',
 'Sacramento',
 'San Benito',
 'San Bernardino',
 'San Diego',
 'San Francisco',
 'San Joaquin',
 'San Luis Obispo',
 'San Mateo',
 'Santa Barbara',
 'Santa Clara',
 'Santa Cruz',
 'Shasta',
 'Siskiyou',
 'Solano',
 'Sonoma',
 'Stanislaus',
 'Sutter',
 'Tehama',
 'Tulare',
 'Tuolumne',
 'Ventura',
 'Yolo',
 'Yuba',
 'Condo',
 'LA Metro',
 'Central Coast',
 'Central Valley',
 'Far North',
 'Inland Empire',
 'S.F. Bay Area',
 'SoCal']

In [4]:
# Rename the column headers
median_df_transformed = median_df.rename(columns={'Mon-Yr':'month_year',
                                                  'Del Norte':'del_norte',
                                                  'El Dorado':'el_dorado',
                                                 'Los Angeles':'los_angeles',
                                                 'Contra-Costa':'contra_costa',
                                                 'LA Metro':'la_metro',
                                                 'Central Coast':'central_coast',
                                                 'Central Valley':'central_valley',
                                                 'Far North':'far_north',
                                                 'Inland Empire':'inland_empire',
                                                  'San Benito':'san_benito',
                                                  'San Bernardino':'san_bernardino',
                                                  'San Diego':'san_diego',
                                                  'San Francisco':'san_francisco',
                                                  'San Joaquin':'san_joaquin',
                                                  'San Luis Obispo':'san_luis_obispo',
                                                  'San Mateo':'san_mateo',
                                                  'Santa Barbara':'santa_barbara',
                                                  'Santa Clara':'santa_clara',
                                                  'Santa Cruz':'santa_cruz',
                                                  'S.F. Bay Area':'sf_bay_area'})                                                            

median_df_transformed.columns = median_df_transformed.columns.str.lower()

median_df_transformed

6,month_year,ca,alameda,amador,butte,calaveras,contra_costa,del_norte,el_dorado,fresno,...,yolo,yuba,condo,la_metro,central_coast,central_valley,far_north,inland_empire,sf_bay_area,socal
319,16-Jan,"$467,160","$700,000","$215,500","$260,000","$258,750","$500,000","$157,000","$405,000","$216,000",...,"$345,000","$210,000","$380,110","$434,000","$580,000","$261,889","$227,000","$291,920","$690,000","$450,000"
320,16-Feb,"$444,780","$715,000","$275,000","$264,960","$262,500","$529,000","$175,000","$422,000","$214,250",...,"$379,500","$225,000","$387,370","$429,980","$555,123","$265,436","$219,000","$290,270","$698,950","$450,000"
321,16-Mar,"$484,120","$758,000","$307,000","$286,810","$270,000","$548,780","$199,000","$435,010","$231,000",...,"$362,500","$235,450","$399,740","$448,420","$573,000","$275,943","$230,000","$309,890","$761,090","$469,000"
322,16-Apr,"$509,240","$800,000","$235,000","$272,750","$276,000","$565,000","$315,000","$432,000","$229,000",...,"$419,000","$240,000","$409,410","$460,940","$607,000","$281,556","$234,500","$310,840","$831,180","$479,900"
323,16-May,"$519,930","$828,000","$268,500","$271,000","$287,500","$595,000","$189,500","$429,500","$232,000",...,"$398,000","$225,000","$411,120","$469,090","$610,000","$285,761","$235,000","$315,980","$848,580","$490,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,21-Jan,"$699,920","$1,060,000","$386,250","$420,000","$398,500","$765,000","$399,000","$600,000","$325,000",...,"$485,000","$395,000","$515,000","$630,000","$829,900","$387,250","$335,000","$457,000","$1,050,000","$650,000"
380,21-Feb,"$699,000","$1,100,000","$406,280","$397,000","$441,500","$817,500","$359,000","$577,500","$350,000",...,"$520,000","$370,000","$530,000","$649,000","$828,500","$405,000","$335,000","$470,000","$1,151,500","$675,000"
381,21-Mar,"$758,990","$1,163,000","$430,000","$406,000","$435,850","$920,000","$309,000","$652,500","$350,000",...,"$530,000","$359,500","$552,500","$680,000","$871,840","$415,000","$350,000","$495,000","$1,225,000","$705,000"
382,21-Apr,"$814,010","$1,300,000","$415,000","$438,500","$475,000","$990,000","$364,170","$654,750","$355,000",...,"$566,000","$384,700","$570,000","$725,000","$925,620","$435,000","$367,250","$500,000","$1,328,440","$750,000"
383,21-May,"$818,260","$1,312,500","$427,500","$449,000","$473,800","$1,015,000","$415,000","$688,000","$361,500",...,"$617,500","$400,000","$592,000","$725,000","$900,000","$445,000","$365,000","$510,000","$1,340,000","$752,250"

In [17]:
median_no_dsign = median_df_transformed.columns
median_df_transformed[median_no_dsign] = median_df_transformed[median_no_dsign].replace({'\$':'', '\,':''}, regex = True)
median_df_transformed.reset_index(drop = True, inplace = True)
median_df_transformed

6,month_year,ca,alameda,amador,butte,calaveras,contra_costa,del_norte,el_dorado,fresno,...,yolo,yuba,condo,la_metro,central_coast,central_valley,far_north,inland_empire,sf_bay_area,socal
0,16-Jan,467160,700000,215500,260000,258750,500000,157000,405000,216000,...,345000,210000,380110,434000,580000,261889,227000,291920,690000,450000
1,16-Feb,444780,715000,275000,264960,262500,529000,175000,422000,214250,...,379500,225000,387370,429980,555123,265436,219000,290270,698950,450000
2,16-Mar,484120,758000,307000,286810,270000,548780,199000,435010,231000,...,362500,235450,399740,448420,573000,275943,230000,309890,761090,469000
3,16-Apr,509240,800000,235000,272750,276000,565000,315000,432000,229000,...,419000,240000,409410,460940,607000,281556,234500,310840,831180,479900
4,16-May,519930,828000,268500,271000,287500,595000,189500,429500,232000,...,398000,225000,411120,469090,610000,285761,235000,315980,848580,490000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,21-Jan,699920,1060000,386250,420000,398500,765000,399000,600000,325000,...,485000,395000,515000,630000,829900,387250,335000,457000,1050000,650000
61,21-Feb,699000,1100000,406280,397000,441500,817500,359000,577500,350000,...,520000,370000,530000,649000,828500,405000,335000,470000,1151500,675000
62,21-Mar,758990,1163000,430000,406000,435850,920000,309000,652500,350000,...,530000,359500,552500,680000,871840,415000,350000,495000,1225000,705000
63,21-Apr,814010,1300000,415000,438500,475000,990000,364170,654750,355000,...,566000,384700,570000,725000,925620,435000,367250,500000,1328440,750000
64,21-May,818260,1312500,427500,449000,473800,1015000,415000,688000,361500,...,617500,400000,592000,725000,900000,445000,365000,510000,1340000,752250

In [6]:
percent_change_df = pd.read_csv(percent_chg_file)
percent_change_df = percent_change_df.drop(percent_change_df.index[range(6)])
new_header = percent_change_df.iloc[0] #grab the first row for the header
percent_change_df = percent_change_df[1:] #take the data less the header row
percent_change_df.columns = new_header #set the header row as the df header
percent_change_df.drop(percent_change_df.iloc[:, 61:], inplace = True, axis = 1)
percent_change_df = percent_change_df.drop(percent_change_df.index[range(312,)])
percent_change_df.reset_index(drop = True, inplace = True)
percent_change_df

6,Mon-Yr,CA*,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Yolo,Yuba,Condo,LA Metro,Central Coast,Central Valley,Far North,Inland Empire,SF Bay Area,SoCal
0,16-Jan,11.80%,2.10%,30.40%,7.20%,-9.10%,-2.20%,5.60%,14.00%,19.60%,...,33.80%,43.20%,2.90%,7.30%,2.60%,11.60%,NaN,6.90%,6.20%,6.50%
1,16-Feb,-0.10%,-6.70%,3.30%,5.70%,57.10%,-8.90%,116.70%,-1.60%,14.80%,...,0.00%,16.10%,7.10%,2.40%,-1.90%,7.20%,NaN,6.60%,-5.70%,1.00%
2,16-Mar,-2.70%,-7.60%,71.90%,13.50%,35.20%,-7.90%,27.80%,15.00%,7.40%,...,28.50%,25.40%,3.50%,1.70%,-6.10%,7.00%,NaN,5.30%,-7.30%,1.60%
3,16-Apr,-2.60%,-13.30%,6.70%,-3.70%,17.30%,-12.00%,-55.20%,-5.30%,11.30%,...,-11.40%,9.70%,-2.70%,-4.20%,4.20%,0.30%,NaN,-2.00%,-12.80%,-4.10%
4,16-May,-1.00%,-8.20%,-4.30%,11.50%,8.30%,-9.60%,15.80%,3.20%,7.50%,...,3.00%,13.00%,1.20%,0.70%,-1.10%,2.80%,NaN,4.50%,-5.30%,1.30%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,21-Jan,22.50%,53.60%,46.30%,-17.40%,69.20%,27.50%,-5.60%,19.50%,10.50%,...,4.50%,-25.40%,30.10%,14.30%,19.90%,6.90%,-5.30%,14.30%,31.80%,13.50%
61,21-Feb,9.70%,32.60%,31.70%,-10.20%,4.10%,18.50%,58.30%,10.40%,-0.20%,...,15.20%,-25.80%,17.60%,10.00%,22.40%,-0.30%,17.30%,8.10%,16.10%,10.50%
62,21-Mar,19.70%,45.10%,16.90%,6.50%,-9.00%,34.60%,107.10%,31.30%,7.00%,...,22.30%,-25.30%,39.30%,24.50%,31.80%,9.60%,26.10%,21.50%,35.00%,23.30%
63,21-Apr,65.10%,88.40%,89.20%,26.10%,45.60%,95.60%,-4.30%,67.50%,28.50%,...,47.40%,4.20%,127.40%,68.10%,81.70%,39.80%,38.80%,53.00%,101.40%,65.50%
64,21-May,86.70%,130.20%,80.00%,63.20%,55.20%,95.10%,-59.10%,79.80%,40.50%,...,83.10%,100.00%,150.90%,81.00%,111.80%,44.00%,58.60%,58.40%,104.60%,80.00%

In [7]:
percent_df_transformed = percent_change_df.rename(columns={'Mon-Yr':'month_year',
                                                           'CA*':'ca',
                                                           'Del Norte':'del_norte',
                                                              'El Dorado':'el_dorado',
                                                             'Contra-Costa':'contra_costa',
                                                             'Los Angeles':'los_angeles',
                                                             'LA Metro':'la_metro',
                                                             'Central Coast':'central_coast',
                                                             'Central Valley':'central_valley',
                                                             'Far North':'far_north',
                                                             'Inland Empire':'inland_empire',
                                                              'San Benito':'san_benito',
                                                              'San Bernardino':'san_bernardino',
                                                              'San Diego':'san_diego',
                                                              'San Francisco':'san_francisco',
                                                              'San Joaquin':'san_joaquin',
                                                              'San Luis Obispo':'san_luis_obispo',
                                                              'San Mateo':'san_mateo',
                                                              'Santa Barbara':'santa_barbara',
                                                              'Santa Clara':'santa_clara',
                                                              'Santa Cruz':'santa_cruz',
                                                              'SF Bay Area':'sf_bay_area'})                                                            

percent_df_transformed.columns = percent_df_transformed.columns.str.lower()

percent_df_transformed

6,month_year,ca,alameda,amador,butte,calaveras,contra_costa,del_norte,el_dorado,fresno,...,yolo,yuba,condo,la_metro,central_coast,central_valley,far_north,inland_empire,sf_bay_area,socal
0,16-Jan,11.80%,2.10%,30.40%,7.20%,-9.10%,-2.20%,5.60%,14.00%,19.60%,...,33.80%,43.20%,2.90%,7.30%,2.60%,11.60%,NaN,6.90%,6.20%,6.50%
1,16-Feb,-0.10%,-6.70%,3.30%,5.70%,57.10%,-8.90%,116.70%,-1.60%,14.80%,...,0.00%,16.10%,7.10%,2.40%,-1.90%,7.20%,NaN,6.60%,-5.70%,1.00%
2,16-Mar,-2.70%,-7.60%,71.90%,13.50%,35.20%,-7.90%,27.80%,15.00%,7.40%,...,28.50%,25.40%,3.50%,1.70%,-6.10%,7.00%,NaN,5.30%,-7.30%,1.60%
3,16-Apr,-2.60%,-13.30%,6.70%,-3.70%,17.30%,-12.00%,-55.20%,-5.30%,11.30%,...,-11.40%,9.70%,-2.70%,-4.20%,4.20%,0.30%,NaN,-2.00%,-12.80%,-4.10%
4,16-May,-1.00%,-8.20%,-4.30%,11.50%,8.30%,-9.60%,15.80%,3.20%,7.50%,...,3.00%,13.00%,1.20%,0.70%,-1.10%,2.80%,NaN,4.50%,-5.30%,1.30%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,21-Jan,22.50%,53.60%,46.30%,-17.40%,69.20%,27.50%,-5.60%,19.50%,10.50%,...,4.50%,-25.40%,30.10%,14.30%,19.90%,6.90%,-5.30%,14.30%,31.80%,13.50%
61,21-Feb,9.70%,32.60%,31.70%,-10.20%,4.10%,18.50%,58.30%,10.40%,-0.20%,...,15.20%,-25.80%,17.60%,10.00%,22.40%,-0.30%,17.30%,8.10%,16.10%,10.50%
62,21-Mar,19.70%,45.10%,16.90%,6.50%,-9.00%,34.60%,107.10%,31.30%,7.00%,...,22.30%,-25.30%,39.30%,24.50%,31.80%,9.60%,26.10%,21.50%,35.00%,23.30%
63,21-Apr,65.10%,88.40%,89.20%,26.10%,45.60%,95.60%,-4.30%,67.50%,28.50%,...,47.40%,4.20%,127.40%,68.10%,81.70%,39.80%,38.80%,53.00%,101.40%,65.50%
64,21-May,86.70%,130.20%,80.00%,63.20%,55.20%,95.10%,-59.10%,79.80%,40.50%,...,83.10%,100.00%,150.90%,81.00%,111.80%,44.00%,58.60%,58.40%,104.60%,80.00%

In [8]:
county_df = pd.read_csv(counties_file)
county_df = county_df.loc[county_df['state_id'] == 'CA']
county_df = county_df[['county', 'lat', 'lng', 'population']]

In [9]:
county_df.iloc[8,0] = 'Contra_Costa'
county_df.county.to_list()

['Los Angeles',
 'San Diego',
 'Orange',
 'Riverside',
 'San Bernardino',
 'Santa Clara',
 'Alameda',
 'Sacramento',
 'Contra_Costa',
 'Fresno',
 'Kern',
 'San Francisco',
 'Ventura',
 'San Mateo',
 'San Joaquin',
 'Stanislaus',
 'Sonoma',
 'Tulare',
 'Santa Barbara',
 'Solano',
 'Monterey',
 'Placer',
 'San Luis Obispo',
 'Santa Cruz',
 'Merced',
 'Marin',
 'Butte',
 'Yolo',
 'El Dorado',
 'Imperial',
 'Shasta',
 'Madera',
 'Kings',
 'Napa',
 'Humboldt',
 'Nevada',
 'Sutter',
 'Mendocino',
 'Yuba',
 'Lake',
 'Tehama',
 'San Benito',
 'Tuolumne',
 'Calaveras',
 'Siskiyou',
 'Amador',
 'Lassen',
 'Glenn',
 'Del Norte',
 'Colusa',
 'Plumas',
 'Inyo',
 'Mariposa',
 'Mono',
 'Trinity',
 'Modoc',
 'Sierra',
 'Alpine']

In [10]:
county_df.set_index('county',inplace = True)

In [11]:
county_df

                     lat       lng  population
county
Los Angeles      34.3207 -118.2248    10081570
San Diego        33.0341 -116.7353     3316073
Orange           33.7030 -117.7611     3168044
Riverside        33.7437 -115.9938     2411439
San Bernardino   34.8414 -116.1784     2149031
Santa Clara      37.2318 -121.6951     1927470
Alameda          37.6469 -121.8889     1656754
Sacramento       38.4493 -121.3443     1524553
Contra_Costa     37.9191 -121.9278     1142251
Fresno           36.7582 -119.6493      984521
Kern             35.3429 -118.7299      887641
San Francisco    37.7562 -122.4430      874961
Ventura          34.4565 -119.0836      847263
San Mateo        37.4229 -122.3290      767423
San Joaquin      37.9348 -121.2714      742603
Stanislaus       37.5591 -120.9977      543194
Sonoma           38.5283 -122.8874      499772
Tulare           36.2201 -118.8005      461898
Santa Barbara    34.6729 -120.0165      444829
Solano           38.2700 -121.9329      441829
Monterey         36.2172 -121.2392      433410
Placer           39.0635 -120.7175      385512
San Luis Obispo  35.3871 -120.4045      282165
Santa Cruz       37.0562 -122.0018      273962
Merced           37.1919 -120.7177      271382
Marin            38.0734 -122.7234      259943
Butte            39.6669 -121.6007      225817
Yolo             38.6866 -121.9016      217352
El Dorado        38.7787 -120.5247      188563
Imperial         33.0395 -115.3654      180701
Shasta           40.7637 -122.0405      179212
Madera           37.2180 -119.7627      155433
Kings            36.0753 -119.8155      150691
Napa             38.5065 -122.3305      139623
Humboldt         40.6993 -123.8756      135940
Nevada           39.3014 -120.7685       99244
Sutter           39.0346 -121.6948       96109
Mendocino        39.4402 -123.3915       87224
Yuba             39.2690 -121.3513       76360
Lake             39.0996 -122.7532       64195
Tehama           40.1256 -122.2341       63912
San Benito       36.6057 -121.0750       60376
Tuolumne         38.0276 -119.9548       54045
Calaveras        38.2046 -120.5541       45514
Siskiyou         41.5927 -122.5404       43468
Amador           38.4464 -120.6511       38429
Lassen           40.6736 -120.5943       30818
Glenn            39.5982 -122.3920       27976
Del Norte        41.7431 -123.8972       27495
Colusa           39.1775 -122.2370       21454
Plumas           40.0046 -120.8385       18660
Inyo             36.5111 -117.4107       17977
Mariposa         37.5815 -119.9054       17420
Mono             37.9391 -118.8868       14310
Trinity          40.6507 -123.1126       12700
Modoc            41.5898 -120.7250        8907
Sierra           39.5803 -120.5160        3040
Alpine           38.5972 -119.8207        1039

In [12]:
new_county_df = county_df.transpose()
new_county_df.head(None)

county,Los Angeles,San Diego,Orange,Riverside,San Bernardino,Santa Clara,Alameda,Sacramento,Contra_Costa,Fresno,...,Del Norte,Colusa,Plumas,Inyo,Mariposa,Mono,Trinity,Modoc,Sierra,Alpine
lat,3.432070e+01,3.303410e+01,3.370300e+01,3.374370e+01,3.484140e+01,3.723180e+01,3.764690e+01,3.844930e+01,3.791910e+01,36.7582,...,41.7431,39.1775,40.0046,36.5111,37.5815,37.9391,40.6507,41.5898,39.5803,38.5972
lng,-1.182248e+02,-1.167353e+02,-1.177611e+02,-1.159938e+02,-1.161784e+02,-1.216951e+02,-1.218889e+02,-1.213443e+02,-1.219278e+02,-119.6493,...,-123.8972,-122.2370,-120.8385,-117.4107,-119.9054,-118.8868,-123.1126,-120.7250,-120.5160,-119.8207
population,1.008157e+07,3.316073e+06,3.168044e+06,2.411439e+06,2.149031e+06,1.927470e+06,1.656754e+06,1.524553e+06,1.142251e+06,984521.0000,...,27495.0000,21454.0000,18660.0000,17977.0000,17420.0000,14310.0000,12700.0000,8907.0000,3040.0000,1039.0000

In [13]:
new_county_df_transformed = new_county_df.rename(columns={'Del Norte':'del_norte',
                                                              'El Dorado':'el_dorado',
                                                             'Los Angeles':'los_angeles',
                                                             'LA Metro':'la_metro',
                                                             'Central Coast':'central_coast',
                                                             'Central Valley':'central_valley',
                                                             'Far North':'far_north',
                                                             'Inland Empire':'inland_empire',
                                                              'San Benito':'san_benito',
                                                              'San Bernardino':'san_bernardino',
                                                              'San Diego':'san_diego',
                                                              'San Francisco':'san_francisco',
                                                              'San Joaquin':'san_joaquin',
                                                              'San Luis Obispo':'san_luis_obispo',
                                                              'San Mateo':'san_mateo',
                                                              'Santa Barbara':'santa_barbara',
                                                              'Santa Clara':'santa_clara',
                                                              'Santa Cruz':'santa_cruz',
                                                              'S.F. Bay Area':'sf_bay_area'})                                                            

new_county_df_transformed.columns = new_county_df_transformed.columns.str.lower()

new_county_df_transformed

county,los_angeles,san_diego,orange,riverside,san_bernardino,santa_clara,alameda,sacramento,contra_costa,fresno,...,del_norte,colusa,plumas,inyo,mariposa,mono,trinity,modoc,sierra,alpine
lat,3.432070e+01,3.303410e+01,3.370300e+01,3.374370e+01,3.484140e+01,3.723180e+01,3.764690e+01,3.844930e+01,3.791910e+01,36.7582,...,41.7431,39.1775,40.0046,36.5111,37.5815,37.9391,40.6507,41.5898,39.5803,38.5972
lng,-1.182248e+02,-1.167353e+02,-1.177611e+02,-1.159938e+02,-1.161784e+02,-1.216951e+02,-1.218889e+02,-1.213443e+02,-1.219278e+02,-119.6493,...,-123.8972,-122.2370,-120.8385,-117.4107,-119.9054,-118.8868,-123.1126,-120.7250,-120.5160,-119.8207
population,1.008157e+07,3.316073e+06,3.168044e+06,2.411439e+06,2.149031e+06,1.927470e+06,1.656754e+06,1.524553e+06,1.142251e+06,984521.0000,...,27495.0000,21454.0000,18660.0000,17977.0000,17420.0000,14310.0000,12700.0000,8907.0000,3040.0000,1039.0000

In [14]:
housing_connection_string = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
# confirm the connection string
print(housing_connection_string)
        
# connect to the database
engine = create_engine(housing_connection_string)
conn = engine.connect()

postgresql://postgres:git789su@localhost:5432/housing_db

In [15]:
print(engine.table_names())

['countycoor', 'medianprice']

In [18]:
median_df_transformed.to_sql(name='medianprice', con=conn, if_exists='append', index=True)