In [1]:
#Dependecies
import pandas as pd
from sqlalchemy import create_engine, inspect
from config import db_user, db_password, db_host, db_port, db_name

In [43]:
median_file = "SearchedDataSamples/MedianPrices.csv"
percent_chg_file = "SearchedDataSamples/PercentChange.csv"
counties_file = "SearchedDataSamples/uscounties.csv"
median_df = pd.read_csv(median_file)
median_df = median_df.drop(median_df.index[range(6)])
new_header = median_df.iloc[0] #grab the first row for the header
median_df = median_df[1:] #take the data less the header row
median_df.columns = new_header #set the header row as the df header
median_df.drop(median_df.iloc[:, 53:], inplace = True, axis = 1)
median_df.head(25)
#print(len(median_df.columns))
#Note: potential data, drop columns 0-54, keep the rest up to 62

6,Mon-Yr,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Solano,Sonoma,Stanislaus,Sutter,Tehama,Tulare,Tuolumne,Ventura,Yolo,Yuba
7,Jan-90,"$194,952","$226,149",NaN,"$102,143",NaN,NaN,NaN,NaN,"$82,083",...,NaN,"$174,022",NaN,NaN,NaN,"$86,999",NaN,"$250,410",NaN,NaN
8,Feb-90,"$196,273","$219,306",NaN,"$83,333",NaN,NaN,NaN,NaN,"$87,187",...,NaN,"$180,294",NaN,NaN,NaN,"$84,375",NaN,"$235,760",NaN,NaN
9,Mar-90,"$194,856","$225,162",NaN,"$100,000",NaN,NaN,NaN,NaN,"$83,889",...,NaN,"$178,823",NaN,NaN,NaN,"$84,210",NaN,"$240,320",NaN,NaN
10,Apr-90,"$196,111","$229,333",NaN,"$108,000",NaN,NaN,NaN,NaN,"$85,428",...,NaN,"$184,117",NaN,NaN,NaN,"$88,928",NaN,"$230,620",NaN,NaN
11,May-90,"$195,281","$232,291",NaN,"$100,000",NaN,NaN,NaN,NaN,"$88,749",...,NaN,"$185,844",NaN,NaN,NaN,"$85,999",NaN,"$235,320",NaN,NaN
12,Jun-90,"$194,410","$231,250",NaN,"$123,043",NaN,NaN,NaN,NaN,"$87,999",...,NaN,"$185,333",NaN,NaN,NaN,"$88,333",NaN,"$242,310",NaN,NaN
13,Jul-90,"$193,088","$232,916",NaN,"$113,571",NaN,NaN,NaN,NaN,"$91,346",...,NaN,"$185,333",NaN,NaN,NaN,"$94,411",NaN,"$236,920",NaN,NaN
14,Aug-90,"$192,180","$228,467",NaN,"$113,333",NaN,NaN,NaN,NaN,"$95,178",...,NaN,"$180,270",NaN,NaN,NaN,"$92,083",NaN,"$231,200",NaN,NaN
15,Sep-90,"$189,979","$225,000",NaN,"$117,499",NaN,NaN,NaN,NaN,"$92,500",...,NaN,"$182,308",NaN,NaN,NaN,"$83,750",NaN,"$239,930",NaN,NaN
16,Oct-90,"$187,630","$221,093",NaN,"$127,143",NaN,NaN,NaN,NaN,"$96,891",...,NaN,"$183,414",NaN,NaN,NaN,"$90,000",NaN,"$238,220",NaN,NaN
17,Nov-90,"$192,020","$226,126",NaN,"$117,999",NaN,NaN,NaN,NaN,"$96,052",...,NaN,"$178,153",NaN,NaN,NaN,"$87,999",NaN,"$231,760",NaN,NaN
18,Dec-90,"$190,375","$218,161",NaN,"$125,333",NaN,NaN,NaN,NaN,"$87,682",...,NaN,"$174,615",NaN,NaN,NaN,"$72,857",NaN,"$234,910",NaN,NaN
19,Jan-91,"$192,054","$216,532",NaN,"$118,332",NaN,NaN,NaN,NaN,"$97,856",...,NaN,"$178,461",NaN,NaN,NaN,"$84,444",NaN,"$225,000",NaN,NaN
20,Feb-91,"$194,806","$222,896",NaN,"$121,333",NaN,NaN,NaN,NaN,"$96,666",...,NaN,"$182,857",NaN,NaN,NaN,"$103,182",NaN,"$228,030",NaN,NaN
21,Mar-91,"$202,666","$221,768",NaN,"$123,000",NaN,NaN,NaN,NaN,"$91,364",...,NaN,"$183,469",NaN,NaN,NaN,"$91,667",NaN,"$223,080",NaN,NaN
22,Apr-91,"$207,718","$233,192",NaN,"$118,749",NaN,NaN,NaN,NaN,"$92,500",...,NaN,"$179,195",NaN,NaN,NaN,"$95,384",NaN,"$230,730",NaN,NaN
23,May-91,"$211,001","$239,885",NaN,"$127,894",NaN,NaN,NaN,NaN,"$98,939",...,NaN,"$184,038",NaN,NaN,NaN,"$92,307",NaN,"$227,360",NaN,NaN
24,Jun-91,"$206,722","$229,129",NaN,"$120,714",NaN,NaN,NaN,NaN,"$97,023",...,NaN,"$191,607",NaN,NaN,NaN,"$90,909",NaN,"$241,180",NaN,NaN
25,Jul-91,"$206,069","$234,042",NaN,"$113,571",NaN,NaN,NaN,NaN,"$100,233",...,NaN,"$191,304",NaN,NaN,NaN,"$93,571",NaN,"$229,230",NaN,NaN
26,Aug-91,"$200,340","$231,551",NaN,"$120,500",NaN,NaN,NaN,NaN,"$98,408",...,NaN,"$195,384",NaN,NaN,NaN,"$90,000",NaN,"$235,380",NaN,NaN
27,Sep-91,"$197,801","$224,811",NaN,"$117,856",NaN,NaN,NaN,NaN,"$98,973",...,NaN,"$196,666",NaN,NaN,NaN,"$100,000",NaN,"$236,140",NaN,NaN
28,Oct-91,"$196,021","$221,656",NaN,"$98,333",NaN,NaN,NaN,NaN,"$103,695",...,NaN,"$190,893",NaN,NaN,NaN,"$89,230",NaN,"$232,540",NaN,NaN
29,Nov-91,"$194,192","$221,098",NaN,"$120,625",NaN,NaN,NaN,NaN,"$97,499",...,NaN,"$190,513",NaN,NaN,NaN,"$98,213",NaN,"$228,070",NaN,NaN
30,Dec-91,"$199,452","$228,195",NaN,"$124,545",NaN,NaN,NaN,NaN,"$93,947",...,NaN,"$197,692",NaN,NaN,NaN,"$91,667",NaN,"$227,220",NaN,NaN
31,Jan-92,"$196,410","$212,500",NaN,"$122,308",NaN,NaN,NaN,NaN,"$91,364",...,NaN,"$193,548","$114,166",NaN,NaN,"$95,999",NaN,"$225,900",NaN,NaN

In [4]:
percent_change_df = pd.read_csv(percent_chg_file)
percent_change_df.head(25)

,Percent Change of Sales of Existing Single-Family Homes (Year-to-Year),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,*Note,Sales for California are seasonally adjusted a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,LA Metro is a 5-county region that includes Lo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Inland Empire includes Riverside County and Sa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,S.F. Bay Area includes the following counties:...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Mon-Yr,CA*,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Jan-90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Feb-90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Mar-90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Apr-90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,May-90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Jun-90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Jul-90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Aug-90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Sep-90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Oct-90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Nov-90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Dec-90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Jan-91,-29.0%,NaN,NaN,-54.2%,NaN,-1.4%,NaN,NaN,5.9%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Feb-91,-25.2%,-9.1%,NaN,26.3%,NaN,-9.7%,NaN,NaN,-28.5%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Mar-91,-13.3%,-16.9%,NaN,43.8%,NaN,-5.8%,NaN,NaN,-11.3%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Apr-91,1.1%,19.0%,NaN,140.0%,NaN,15.7%,NaN,NaN,-10.7%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,May-91,10.0%,37.2%,NaN,119.6%,NaN,62.9%,NaN,NaN,-6.3%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Jun-91,8.6%,23.3%,NaN,-40.7%,NaN,9.9%,NaN,NaN,8.3%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
county_df = pd.read_csv(counties_file)
county_df.head(25)

,county,county_ascii,county_fips,state_id,state_name,lat,lng,population
0,Los Angeles,Los Angeles,6037,CA,California,34.3207,-118.2248,10081570
1,Cook,Cook,17031,IL,Illinois,41.8401,-87.8168,5198275
2,Harris,Harris,48201,TX,Texas,29.8577,-95.3936,4646630
3,Maricopa,Maricopa,4013,AZ,Arizona,33.3490,-112.4915,4328810
4,San Diego,San Diego,6073,CA,California,33.0341,-116.7353,3316073
5,Orange,Orange,6059,CA,California,33.7030,-117.7611,3168044
6,Miami-Dade,Miami-Dade,12086,FL,Florida,25.6150,-80.5623,2699428
7,Dallas,Dallas,48113,TX,Texas,32.7666,-96.7779,2606868
8,Kings,Kings,36047,NY,New York,40.6395,-73.9385,2589974
9,Riverside,Riverside,6065,CA,California,33.7437,-115.9938,2411439
10,Queens,Queens,36081,NY,New York,40.7023,-73.8203,2287388
11,King,King,53033,WA,Washington,47.4902,-121.8052,2195502
12,Clark,Clark,32003,NV,Nevada,36.2152,-115.0135,2182004
13,San Bernardino,San Bernardino,6071,CA,California,34.8414,-116.1784,2149031
14,Tarrant,Tarrant,48439,TX,Texas,32.7716,-97.2912,2049770
15,Bexar,Bexar,48029,TX,Texas,29.4489,-98.5200,1952843
16,Santa Clara,Santa Clara,6085,CA,California,37.2318,-121.6951,1927470
17,Broward,Broward,12011,FL,Florida,26.1523,-80.4871,1926205
18,Wayne,Wayne,26163,MI,Michigan,42.2819,-83.2821,1757299
19,Alameda,Alameda,6001,CA,California,37.6469,-121.8889,1656754
20,New York,New York,36061,NY,New York,40.7781,-73.9675,1631993
21,Middlesex,Middlesex,25017,MA,Massachusetts,42.4856,-71.3918,1600842
22,Philadelphia,Philadelphia,42101,PA,Pennsylvania,40.0077,-75.1339,1579075
23,Sacramento,Sacramento,6067,CA,California,38.4493,-121.3443,1524553
24,Suffolk,Suffolk,36103,NY,New York,40.8686,-72.8448,1483832