In [1]:
#Dependecies
import pandas as pd
from sqlalchemy import create_engine, inspect
from config import db_user, db_password, db_host, db_port, db_name

In [2]:
median_file = "SearchedDataSamples/MedianPrices.csv"
percent_chg_file = "SearchedDataSamples/PercentChange.csv"
counties_file = "SearchedDataSamples/uscounties.csv"
median_df = pd.read_csv(median_file)
median_df = median_df.drop(median_df.index[range(6)])
new_header = median_df.iloc[0] #grab the first row for the header
median_df = median_df[1:] #take the data less the header row
median_df.columns = new_header #set the header row as the df header
median_df.drop(median_df.iloc[:, 61:], inplace = True, axis = 1)
median_df.head(25)
#print(len(median_df.columns))
#Note: potential data, drop columns 0-54, keep the rest up to 62
#314 to end

6,Mon-Yr,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Yolo,Yuba,Condo,LA Metro,Central Coast,Central Valley,Far North,Inland Empire,S.F. Bay Area,SoCal
7,Jan-90,"$194,952","$226,149",NaN,"$102,143",NaN,NaN,NaN,NaN,"$82,083",...,NaN,NaN,"$141,519","$203,390",NaN,NaN,NaN,NaN,"$227,366",NaN
8,Feb-90,"$196,273","$219,306",NaN,"$83,333",NaN,NaN,NaN,NaN,"$87,187",...,NaN,NaN,"$144,965","$211,024",NaN,NaN,NaN,NaN,"$234,739",NaN
9,Mar-90,"$194,856","$225,162",NaN,"$100,000",NaN,NaN,NaN,NaN,"$83,889",...,NaN,NaN,"$141,132","$209,286",NaN,NaN,NaN,NaN,"$235,337",NaN
10,Apr-90,"$196,111","$229,333",NaN,"$108,000",NaN,NaN,NaN,NaN,"$85,428",...,NaN,NaN,"$145,707","$210,302",NaN,NaN,NaN,NaN,"$233,178",NaN
11,May-90,"$195,281","$232,291",NaN,"$100,000",NaN,NaN,NaN,NaN,"$88,749",...,NaN,NaN,"$146,060","$210,148",NaN,NaN,NaN,NaN,"$235,881",NaN
12,Jun-90,"$194,410","$231,250",NaN,"$123,043",NaN,NaN,NaN,NaN,"$87,999",...,NaN,NaN,"$147,523","$209,927",NaN,NaN,NaN,NaN,"$240,386",NaN
13,Jul-90,"$193,088","$232,916",NaN,"$113,571",NaN,NaN,NaN,NaN,"$91,346",...,NaN,NaN,"$144,931","$208,582",NaN,NaN,NaN,NaN,"$241,503",NaN
14,Aug-90,"$192,180","$228,467",NaN,"$113,333",NaN,NaN,NaN,NaN,"$95,178",...,NaN,NaN,"$145,204","$199,724",NaN,NaN,NaN,NaN,"$237,727",NaN
15,Sep-90,"$189,979","$225,000",NaN,"$117,499",NaN,NaN,NaN,NaN,"$92,500",...,NaN,NaN,"$141,080","$193,597",NaN,NaN,NaN,NaN,"$225,569",NaN
16,Oct-90,"$187,630","$221,093",NaN,"$127,143",NaN,NaN,NaN,NaN,"$96,891",...,NaN,NaN,"$141,350","$199,909",NaN,NaN,NaN,NaN,"$227,917",NaN
17,Nov-90,"$192,020","$226,126",NaN,"$117,999",NaN,NaN,NaN,NaN,"$96,052",...,NaN,NaN,"$143,282","$209,053",NaN,NaN,NaN,NaN,"$229,791",NaN
18,Dec-90,"$190,375","$218,161",NaN,"$125,333",NaN,NaN,NaN,NaN,"$87,682",...,NaN,NaN,"$136,050","$200,147",NaN,NaN,NaN,NaN,"$222,261",NaN
19,Jan-91,"$192,054","$216,532",NaN,"$118,332",NaN,NaN,NaN,NaN,"$97,856",...,NaN,NaN,"$141,270","$189,214",NaN,NaN,NaN,NaN,"$225,892",NaN
20,Feb-91,"$194,806","$222,896",NaN,"$121,333",NaN,NaN,NaN,NaN,"$96,666",...,NaN,NaN,"$138,990","$205,010",NaN,NaN,NaN,NaN,"$226,188",NaN
21,Mar-91,"$202,666","$221,768",NaN,"$123,000",NaN,NaN,NaN,NaN,"$91,364",...,NaN,NaN,"$144,551","$214,681",NaN,NaN,NaN,NaN,"$229,262",NaN
22,Apr-91,"$207,718","$233,192",NaN,"$118,749",NaN,NaN,NaN,NaN,"$92,500",...,NaN,NaN,"$150,138","$221,656",NaN,NaN,NaN,NaN,"$231,764",NaN
23,May-91,"$211,001","$239,885",NaN,"$127,894",NaN,NaN,NaN,NaN,"$98,939",...,NaN,NaN,"$147,136","$221,727",NaN,NaN,NaN,NaN,"$244,494",NaN
24,Jun-91,"$206,722","$229,129",NaN,"$120,714",NaN,NaN,NaN,NaN,"$97,023",...,NaN,NaN,"$145,752","$222,285",NaN,NaN,NaN,NaN,"$242,687",NaN
25,Jul-91,"$206,069","$234,042",NaN,"$113,571",NaN,NaN,NaN,NaN,"$100,233",...,NaN,NaN,"$145,670","$226,712",NaN,NaN,NaN,NaN,"$242,132",NaN
26,Aug-91,"$200,340","$231,551",NaN,"$120,500",NaN,NaN,NaN,NaN,"$98,408",...,NaN,NaN,"$147,180","$216,189",NaN,NaN,NaN,NaN,"$234,388",NaN
27,Sep-91,"$197,801","$224,811",NaN,"$117,856",NaN,NaN,NaN,NaN,"$98,973",...,NaN,NaN,"$146,590","$208,125",NaN,NaN,NaN,NaN,"$234,009",NaN
28,Oct-91,"$196,021","$221,656",NaN,"$98,333",NaN,NaN,NaN,NaN,"$103,695",...,NaN,NaN,"$145,610","$209,950",NaN,NaN,NaN,NaN,"$231,509",NaN
29,Nov-91,"$194,192","$221,098",NaN,"$120,625",NaN,NaN,NaN,NaN,"$97,499",...,NaN,NaN,"$145,230","$209,351",NaN,NaN,NaN,NaN,"$235,118",NaN
30,Dec-91,"$199,452","$228,195",NaN,"$124,545",NaN,NaN,NaN,NaN,"$93,947",...,NaN,NaN,"$146,520","$211,303",NaN,NaN,NaN,NaN,"$232,916",NaN
31,Jan-92,"$196,410","$212,500",NaN,"$122,308",NaN,NaN,NaN,NaN,"$91,364",...,NaN,NaN,"$144,790","$204,852",NaN,NaN,NaN,NaN,"$225,647",NaN

In [24]:
percent_change_df = pd.read_csv(percent_chg_file)
percent_change_df = percent_change_df.drop(percent_change_df.index[range(6)])
new_header = percent_change_df.iloc[0] #grab the first row for the header
percent_change_df = percent_change_df[1:] #take the data less the header row
percent_change_df.columns = new_header #set the header row as the df header
percent_change_df.drop(percent_change_df.iloc[:, 61:], inplace = True, axis = 1)
percent_change_df.head

<bound method NDFrame.head of 6    Mon-Yr     CA*  Alameda  Amador    Butte Calaveras Contra-Costa  \
7    Jan-90     NaN      NaN     NaN      NaN       NaN          NaN
8    Feb-90     NaN      NaN     NaN      NaN       NaN          NaN
9    Mar-90     NaN      NaN     NaN      NaN       NaN          NaN
10   Apr-90     NaN      NaN     NaN      NaN       NaN          NaN
11   May-90     NaN      NaN     NaN      NaN       NaN          NaN
..      ...     ...      ...     ...      ...       ...          ...
379  21-Jan  22.50%   53.60%  46.30%  -17.40%    69.20%       27.50%
380  21-Feb   9.70%   32.60%  31.70%  -10.20%     4.10%       18.50%
381  21-Mar  19.70%   45.10%  16.90%    6.50%    -9.00%       34.60%
382  21-Apr  65.10%   88.40%  89.20%   26.10%    45.60%       95.60%
383  21-May  86.70%  130.20%  80.00%   63.20%    55.20%       95.10%

6   Del Norte El Dorado  Fresno  ...    Yolo     Yuba    Condo LA Metro  \
7         NaN       NaN     NaN  ...     NaN      NaN      NaN      NaN
8         NaN       NaN     NaN  ...     NaN      NaN      NaN      NaN
9         NaN       NaN     NaN  ...     NaN      NaN      NaN      NaN
10        NaN       NaN     NaN  ...     NaN      NaN      NaN      NaN
11        NaN       NaN     NaN  ...     NaN      NaN      NaN      NaN
..        ...       ...     ...  ...     ...      ...      ...      ...
379    -5.60%    19.50%  10.50%  ...   4.50%  -25.40%   30.10%   14.30%
380    58.30%    10.40%  -0.20%  ...  15.20%  -25.80%   17.60%   10.00%
381   107.10%    31.30%   7.00%  ...  22.30%  -25.30%   39.30%   24.50%
382    -4.30%    67.50%  28.50%  ...  47.40%    4.20%  127.40%   68.10%
383   -59.10%    79.80%  40.50%  ...  83.10%  100.00%  150.90%   81.00%

6   Central Coast Central Valley Far North Inland Empire SF Bay Area   SoCal
7             NaN            NaN       NaN           NaN         NaN     NaN
8             NaN            NaN       NaN           NaN         NaN     NaN
9             NaN            NaN       NaN           NaN         NaN     NaN
10            NaN            NaN       NaN           NaN         NaN     NaN
11            NaN            NaN       NaN           NaN         NaN     NaN
..            ...            ...       ...           ...         ...     ...
379        19.90%          6.90%    -5.30%        14.30%      31.80%  13.50%
380        22.40%         -0.30%    17.30%         8.10%      16.10%  10.50%
381        31.80%          9.60%    26.10%        21.50%      35.00%  23.30%
382        81.70%         39.80%    38.80%        53.00%     101.40%  65.50%
383       111.80%         44.00%    58.60%        58.40%     104.60%  80.00%

[377 rows x 61 columns]>

In [23]:
county_df = pd.read_csv(counties_file)
county_df = county_df.loc[county_df['state_id'] == 'CA']
county_df = county_df[['county', 'lat', 'lng', 'population']]
county_df.set_index('county')

                     lat       lng  population
county
Los Angeles      34.3207 -118.2248    10081570
San Diego        33.0341 -116.7353     3316073
Orange           33.7030 -117.7611     3168044
Riverside        33.7437 -115.9938     2411439
San Bernardino   34.8414 -116.1784     2149031
Santa Clara      37.2318 -121.6951     1927470
Alameda          37.6469 -121.8889     1656754
Sacramento       38.4493 -121.3443     1524553
Contra Costa     37.9191 -121.9278     1142251
Fresno           36.7582 -119.6493      984521
Kern             35.3429 -118.7299      887641
San Francisco    37.7562 -122.4430      874961
Ventura          34.4565 -119.0836      847263
San Mateo        37.4229 -122.3290      767423
San Joaquin      37.9348 -121.2714      742603
Stanislaus       37.5591 -120.9977      543194
Sonoma           38.5283 -122.8874      499772
Tulare           36.2201 -118.8005      461898
Santa Barbara    34.6729 -120.0165      444829
Solano           38.2700 -121.9329      441829
Monterey         36.2172 -121.2392      433410
Placer           39.0635 -120.7175      385512
San Luis Obispo  35.3871 -120.4045      282165
Santa Cruz       37.0562 -122.0018      273962
Merced           37.1919 -120.7177      271382
Marin            38.0734 -122.7234      259943
Butte            39.6669 -121.6007      225817
Yolo             38.6866 -121.9016      217352
El Dorado        38.7787 -120.5247      188563
Imperial         33.0395 -115.3654      180701
Shasta           40.7637 -122.0405      179212
Madera           37.2180 -119.7627      155433
Kings            36.0753 -119.8155      150691
Napa             38.5065 -122.3305      139623
Humboldt         40.6993 -123.8756      135940
Nevada           39.3014 -120.7685       99244
Sutter           39.0346 -121.6948       96109
Mendocino        39.4402 -123.3915       87224
Yuba             39.2690 -121.3513       76360
Lake             39.0996 -122.7532       64195
Tehama           40.1256 -122.2341       63912
San Benito       36.6057 -121.0750       60376
Tuolumne         38.0276 -119.9548       54045
Calaveras        38.2046 -120.5541       45514
Siskiyou         41.5927 -122.5404       43468
Amador           38.4464 -120.6511       38429
Lassen           40.6736 -120.5943       30818
Glenn            39.5982 -122.3920       27976
Del Norte        41.7431 -123.8972       27495
Colusa           39.1775 -122.2370       21454
Plumas           40.0046 -120.8385       18660
Inyo             36.5111 -117.4107       17977
Mariposa         37.5815 -119.9054       17420
Mono             37.9391 -118.8868       14310
Trinity          40.6507 -123.1126       12700
Modoc            41.5898 -120.7250        8907
Sierra           39.5803 -120.5160        3040
Alpine           38.5972 -119.8207        1039